In [1]:
import numpy as np
from def_conv_crs_2h import*
import pandas as pd

/home/zackmrc/Documenti/git_project/SIDIS pol/def_convolution_v3.1_survey_PV17_charm

In [2]:
dati_lh2=pd.read_csv("exp_data/lambda_had_global.dat", delimiter=r"\s+", header=0, engine='python')

In [3]:
dati_lh2

      h1   h2    z1    z2   P_exp  P(theo)       err     unpol
0    300  100  0.25  0.25 -0.0390 -0.02600  0.004080  0.151000
1    300  100  0.25  0.35 -0.0474 -0.03910  0.006344  0.065820
2    300  100  0.25  0.45 -0.0708 -0.05191  0.008810  0.031190
3    300  100  0.25  0.60 -0.0757 -0.07459  0.010020  0.010960
4    300  100  0.35  0.25 -0.0243 -0.02172  0.003933  0.061360
..   ...  ...   ...   ...     ...      ...       ...       ...
123  310  205  0.45  0.60 -0.0826 -0.05592  0.012650  0.002413
124  310  205  0.60  0.25 -0.0508 -0.03499  0.007599  0.006919
125  310  205  0.60  0.35 -0.0609 -0.04695  0.010480  0.003658
126  310  205  0.60  0.45 -0.0621 -0.05716  0.014030  0.002022
127  310  205  0.60  0.60 -0.0828 -0.06947  0.014050  0.000924

[128 rows x 8 columns]

In [4]:
del dati_lh2['unpol']
del dati_lh2['P(theo)']

In [5]:
new_df = dati_lh2
new_df

      h1   h2    z1    z2   P_exp       err
0    300  100  0.25  0.25 -0.0390  0.004080
1    300  100  0.25  0.35 -0.0474  0.006344
2    300  100  0.25  0.45 -0.0708  0.008810
3    300  100  0.25  0.60 -0.0757  0.010020
4    300  100  0.35  0.25 -0.0243  0.003933
..   ...  ...   ...   ...     ...       ...
123  310  205  0.45  0.60 -0.0826  0.012650
124  310  205  0.60  0.25 -0.0508  0.007599
125  310  205  0.60  0.35 -0.0609  0.010480
126  310  205  0.60  0.45 -0.0621  0.014030
127  310  205  0.60  0.60 -0.0828  0.014050

[128 rows x 6 columns]

In [6]:
func = polarization(0.25)
func.g_k = 'PV17'
func.mdl_den = 'pwr_lw_star'
func.charm = 'no'
func.bmax = 0.6
func.mass = 1.115
func.scale = 10.58

In [7]:
unpol=array([])
for h1,h2,zz1,zz2 in zip(dati_lh2.h1,dati_lh2.h2,dati_lh2.z1,dati_lh2.z2):

    if h1== 300: had1='lbd'
    elif h1== 310: had1='lbd_b'
    if h2== 100: had2='pi+'
    elif h2== 105: had2='pi-'
    elif h2== 200: had2='k+'
    elif h2==  205: had2='k-'
    unpol=np.append(unpol,func.denominator(had1,had2,zz1,zz2))
    #print(unpol)

/home/zackmrc/Documenti/git_project/SIDIS pol/def_convolution_v3.1_survey_PV17_charm/Sudakov/sudakov_factor.py:57: RuntimeWarning: invalid value encountered in double_scalars
  bstar = bstar/(1-np.exp(-bt**4/self.bmin**4))**(1/4)

In [8]:
new_dati=new_df
new_dati['unpol']=unpol
new_dati

      h1   h2    z1    z2   P_exp       err     unpol
0    300  100  0.25  0.25 -0.0390  0.004080  0.030627
1    300  100  0.25  0.35 -0.0474  0.006344  0.014102
2    300  100  0.25  0.45 -0.0708  0.008810  0.006850
3    300  100  0.25  0.60 -0.0757  0.010020  0.002461
4    300  100  0.35  0.25 -0.0243  0.003933  0.027918
..   ...  ...   ...   ...     ...       ...       ...
123  310  205  0.45  0.60 -0.0826  0.012650  0.001183
124  310  205  0.60  0.25 -0.0508  0.007599  0.004089
125  310  205  0.60  0.35 -0.0609  0.010480  0.002491
126  310  205  0.60  0.45 -0.0621  0.014030  0.001455
127  310  205  0.60  0.60 -0.0828  0.014050  0.000688

[128 rows x 7 columns]

In [9]:

new_dati.to_csv('unpol_dfs/dataframe_pwr_nocharm.csv')

In [10]:
func = polarization(0.25)
func.g_k = 'PV17'
func.mdl_den = 'pwr_lw_star'
func.charm = 'yes'
func.bmax = 0.6
func.mass = 1.115

In [11]:
unpol1=array([])
for h1,h2,zz1,zz2 in zip(dati_lh2.h1,dati_lh2.h2,dati_lh2.z1,dati_lh2.z2):

    if h1== 300: had1='lbd'
    elif h1== 310: had1='lbd_b'
    if h2== 100: had2='pi+'
    elif h2== 105: had2='pi-'
    elif h2== 200: had2='k+'
    elif h2==  205: had2='k-'
    unpol1=np.append(unpol1,func.denominator(had1,had2,zz1,zz2))
    #print(unpol1)

/home/zackmrc/Documenti/git_project/SIDIS pol/def_convolution_v3.1_survey_PV17_charm/Sudakov/sudakov_factor.py:57: RuntimeWarning: invalid value encountered in double_scalars
  bstar = bstar/(1-np.exp(-bt**4/self.bmin**4))**(1/4)

In [12]:
new_dati2=new_df
new_dati2['unpol']=unpol1
new_dati2

      h1   h2    z1    z2   P_exp       err     unpol
0    300  100  0.25  0.25 -0.0390  0.004080  0.046529
1    300  100  0.25  0.35 -0.0474  0.006344  0.020247
2    300  100  0.25  0.45 -0.0708  0.008810  0.009028
3    300  100  0.25  0.60 -0.0757  0.010020  0.002799
4    300  100  0.35  0.25 -0.0243  0.003933  0.045954
..   ...  ...   ...   ...     ...       ...       ...
123  310  205  0.45  0.60 -0.0826  0.012650  0.001692
124  310  205  0.60  0.25 -0.0508  0.007599  0.006561
125  310  205  0.60  0.35 -0.0609  0.010480  0.003892
126  310  205  0.60  0.45 -0.0621  0.014030  0.002116
127  310  205  0.60  0.60 -0.0828  0.014050  0.000841

[128 rows x 7 columns]

In [13]:
new_dati2.to_csv('unpol_dfs/dataframe_pwr_yescharm.csv')

In [11]:
func = polarization(0.25)
func.g_k = 'PV17'
func.mdl_den = 'gauss'
func.charm = 'no'
func.bmax = 0.6
func.mass = 1.115

unpol2=array([])
for h1,h2,zz1,zz2 in zip(dati_lh2.h1,dati_lh2.h2,dati_lh2.z1,dati_lh2.z2):

    if h1== 300: had1='lbd'
    elif h1== 310: had1='lbd_b'
    if h2== 100: had2='pi+'
    elif h2== 105: had2='pi-'
    elif h2== 200: had2='k+'
    elif h2==  205: had2='k-'
    unpol2=np.append(unpol2,func.denominator(had1,had2,zz1,zz2))
   # print(unpol)


new_dati3=new_df
new_dati3['unpol']=unpol2
new_dati3.to_csv('unpol_dfs/dataframe_gauss_nocharm.csv')

In [12]:
new_dati3

      h1   h2    z1    z2   P_exp  P(theo)       err     unpol
0    300  100  0.25  0.25 -0.0390 -0.02600  0.004080  0.116406
1    300  100  0.25  0.35 -0.0474 -0.03910  0.006344  0.056105
2    300  100  0.25  0.45 -0.0708 -0.05191  0.008810  0.027736
3    300  100  0.25  0.60 -0.0757 -0.07459  0.010020  0.010067
4    300  100  0.35  0.25 -0.0243 -0.02172  0.003933  0.061548
..   ...  ...   ...   ...     ...      ...       ...       ...
123  310  205  0.45  0.60 -0.0826 -0.05592  0.012650  0.002295
124  310  205  0.60  0.25 -0.0508 -0.03499  0.007599  0.006115
125  310  205  0.60  0.35 -0.0609 -0.04695  0.010480  0.003881
126  310  205  0.60  0.45 -0.0621 -0.05716  0.014030  0.002305
127  310  205  0.60  0.60 -0.0828 -0.06947  0.014050  0.001104

[128 rows x 8 columns]

In [13]:
func = polarization(0.25)
func.g_k = 'PV17'
func.mdl_den = 'gauss'
func.charm = 'yes'
func.bmax = 0.6
func.mass = 1.115

unpol3=array([])
for h1,h2,zz1,zz2 in zip(dati_lh2.h1,dati_lh2.h2,dati_lh2.z1,dati_lh2.z2):

    if h1== 300: had1='lbd'
    elif h1== 310: had1='lbd_b'
    if h2== 100: had2='pi+'
    elif h2== 105: had2='pi-'
    elif h2== 200: had2='k+'
    elif h2==  205: had2='k-'
    unpol3=np.append(unpol3,func.denominator(had1,had2,zz1,zz2))
   # print(unpol)


new_dati4=new_df
new_dati4['unpol']=unpol3

new_dati4.to_csv('unpol_dfs/dataframe_gauss_yescharm.csv')

/home/zackmrc/Documenti/git_project/SIDIS pol/def_convolution_v3.1_survey_PV17_charm/Sudakov/sudakov_factor.py:57: RuntimeWarning: invalid value encountered in double_scalars
  bstar = bstar/(1-np.exp(-bt**4/self.bmin**4))**(1/4)

In [17]:
new_dati4

      h1   h2    z1    z2   P_exp  P(theo)       err     unpol
0    300  100  0.25  0.25 -0.0390 -0.02600  0.004080  0.177482
1    300  100  0.25  0.35 -0.0474 -0.03910  0.006344  0.080828
2    300  100  0.25  0.45 -0.0708 -0.05191  0.008810  0.036678
3    300  100  0.25  0.60 -0.0757 -0.07459  0.010020  0.011489
4    300  100  0.35  0.25 -0.0243 -0.02172  0.003933  0.101434
..   ...  ...   ...   ...     ...      ...       ...       ...
123  310  205  0.45  0.60 -0.0826 -0.05592  0.012650  0.003289
124  310  205  0.60  0.25 -0.0508 -0.03499  0.007599  0.009809
125  310  205  0.60  0.35 -0.0609 -0.04695  0.010480  0.006060
126  310  205  0.60  0.45 -0.0621 -0.05716  0.014030  0.003350
127  310  205  0.60  0.60 -0.0828 -0.06947  0.014050  0.001349

[128 rows x 8 columns]

In [14]:
df=pd.read_csv('unpol_dfs/dataframe_pwr_nocharm.csv')
df1=pd.read_csv('unpol_dfs/dataframe_pwr_yescharm.csv')
df2=pd.read_csv('unpol_dfs/dataframe_gauss_yescharm.csv')
df3=pd.read_csv('unpol_dfs/dataframe_gauss_nocharm.csv')

In [15]:
df = pd.read_csv('unpol_dfs/dataframe_pwr_nocharm.csv')
df1 = pd.read_csv('unpol_dfs/dataframe_pwr_yescharm.csv')

In [16]:
df

     Unnamed: 0   h1   h2    z1    z2   P_exp  P(theo)       err     unpol
0             0  300  100  0.25  0.25 -0.0390 -0.02600  0.004080  0.030518
1             1  300  100  0.25  0.35 -0.0474 -0.03910  0.006344  0.014055
2             2  300  100  0.25  0.45 -0.0708 -0.05191  0.008810  0.006827
3             3  300  100  0.25  0.60 -0.0757 -0.07459  0.010020  0.002453
4             4  300  100  0.35  0.25 -0.0243 -0.02172  0.003933  0.027879
..          ...  ...  ...   ...   ...     ...      ...       ...       ...
123         123  310  205  0.45  0.60 -0.0826 -0.05592  0.012650  0.001184
124         124  310  205  0.60  0.25 -0.0508 -0.03499  0.007599  0.004091
125         125  310  205  0.60  0.35 -0.0609 -0.04695  0.010480  0.002495
126         126  310  205  0.60  0.45 -0.0621 -0.05716  0.014030  0.001458
127         127  310  205  0.60  0.60 -0.0828 -0.06947  0.014050  0.000690

[128 rows x 9 columns]

In [17]:
df1

     Unnamed: 0   h1   h2    z1    z2   P_exp  P(theo)       err     unpol
0             0  300  100  0.25  0.25 -0.0390 -0.02600  0.004080  0.046529
1             1  300  100  0.25  0.35 -0.0474 -0.03910  0.006344  0.020247
2             2  300  100  0.25  0.45 -0.0708 -0.05191  0.008810  0.009028
3             3  300  100  0.25  0.60 -0.0757 -0.07459  0.010020  0.002799
4             4  300  100  0.35  0.25 -0.0243 -0.02172  0.003933  0.045954
..          ...  ...  ...   ...   ...     ...      ...       ...       ...
123         123  310  205  0.45  0.60 -0.0826 -0.05592  0.012650  0.001692
124         124  310  205  0.60  0.25 -0.0508 -0.03499  0.007599  0.006561
125         125  310  205  0.60  0.35 -0.0609 -0.04695  0.010480  0.003892
126         126  310  205  0.60  0.45 -0.0621 -0.05716  0.014030  0.002116
127         127  310  205  0.60  0.60 -0.0828 -0.06947  0.014050  0.000841

[128 rows x 9 columns]

In [18]:
df2

     Unnamed: 0   h1   h2    z1    z2   P_exp  P(theo)       err     unpol
0             0  300  100  0.25  0.25 -0.0390 -0.02600  0.004080  0.177482
1             1  300  100  0.25  0.35 -0.0474 -0.03910  0.006344  0.080828
2             2  300  100  0.25  0.45 -0.0708 -0.05191  0.008810  0.036678
3             3  300  100  0.25  0.60 -0.0757 -0.07459  0.010020  0.011489
4             4  300  100  0.35  0.25 -0.0243 -0.02172  0.003933  0.101434
..          ...  ...  ...   ...   ...     ...      ...       ...       ...
123         123  310  205  0.45  0.60 -0.0826 -0.05592  0.012650  0.003289
124         124  310  205  0.60  0.25 -0.0508 -0.03499  0.007599  0.009809
125         125  310  205  0.60  0.35 -0.0609 -0.04695  0.010480  0.006060
126         126  310  205  0.60  0.45 -0.0621 -0.05716  0.014030  0.003350
127         127  310  205  0.60  0.60 -0.0828 -0.06947  0.014050  0.001349

[128 rows x 9 columns]

###

In [19]:
df3

     Unnamed: 0   h1   h2    z1    z2   P_exp  P(theo)       err     unpol
0             0  300  100  0.25  0.25 -0.0390 -0.02600  0.004080  0.116406
1             1  300  100  0.25  0.35 -0.0474 -0.03910  0.006344  0.056105
2             2  300  100  0.25  0.45 -0.0708 -0.05191  0.008810  0.027736
3             3  300  100  0.25  0.60 -0.0757 -0.07459  0.010020  0.010067
4             4  300  100  0.35  0.25 -0.0243 -0.02172  0.003933  0.061548
..          ...  ...  ...   ...   ...     ...      ...       ...       ...
123         123  310  205  0.45  0.60 -0.0826 -0.05592  0.012650  0.002295
124         124  310  205  0.60  0.25 -0.0508 -0.03499  0.007599  0.006115
125         125  310  205  0.60  0.35 -0.0609 -0.04695  0.010480  0.003881
126         126  310  205  0.60  0.45 -0.0621 -0.05716  0.014030  0.002305
127         127  310  205  0.60  0.60 -0.0828 -0.06947  0.014050  0.001104

[128 rows x 9 columns]

In [20]:
unpol = pd.read_csv('unpol_dfs/dataframe_pwr_nocharm.csv')

In [21]:
unpol

     Unnamed: 0   h1   h2    z1    z2   P_exp  P(theo)       err     unpol
0             0  300  100  0.25  0.25 -0.0390 -0.02600  0.004080  0.030518
1             1  300  100  0.25  0.35 -0.0474 -0.03910  0.006344  0.014055
2             2  300  100  0.25  0.45 -0.0708 -0.05191  0.008810  0.006827
3             3  300  100  0.25  0.60 -0.0757 -0.07459  0.010020  0.002453
4             4  300  100  0.35  0.25 -0.0243 -0.02172  0.003933  0.027879
..          ...  ...  ...   ...   ...     ...      ...       ...       ...
123         123  310  205  0.45  0.60 -0.0826 -0.05592  0.012650  0.001184
124         124  310  205  0.60  0.25 -0.0508 -0.03499  0.007599  0.004091
125         125  310  205  0.60  0.35 -0.0609 -0.04695  0.010480  0.002495
126         126  310  205  0.60  0.45 -0.0621 -0.05716  0.014030  0.001458
127         127  310  205  0.60  0.60 -0.0828 -0.06947  0.014050  0.000690

[128 rows x 9 columns]

In [22]:
 unpol = pd.read_csv('unpol_dfs/dataframe_pwr_yescharm.csv')

In [23]:
unpol

     Unnamed: 0   h1   h2    z1    z2   P_exp  P(theo)       err     unpol
0             0  300  100  0.25  0.25 -0.0390 -0.02600  0.004080  0.046529
1             1  300  100  0.25  0.35 -0.0474 -0.03910  0.006344  0.020247
2             2  300  100  0.25  0.45 -0.0708 -0.05191  0.008810  0.009028
3             3  300  100  0.25  0.60 -0.0757 -0.07459  0.010020  0.002799
4             4  300  100  0.35  0.25 -0.0243 -0.02172  0.003933  0.045954
..          ...  ...  ...   ...   ...     ...      ...       ...       ...
123         123  310  205  0.45  0.60 -0.0826 -0.05592  0.012650  0.001692
124         124  310  205  0.60  0.25 -0.0508 -0.03499  0.007599  0.006561
125         125  310  205  0.60  0.35 -0.0609 -0.04695  0.010480  0.003892
126         126  310  205  0.60  0.45 -0.0621 -0.05716  0.014030  0.002116
127         127  310  205  0.60  0.60 -0.0828 -0.06947  0.014050  0.000841

[128 rows x 9 columns]