In [1]:
import numpy as np
from def_conv_crs_2h import*
import pandas as pd

/home/zackmrc/Documenti/git_project/SIDIS pol/def_convolution_v3.1_survey_PV17_charm

In [2]:
pwd

'/home/zackmrc/Documenti/git_project/SIDIS pol/def_convolution_v3.1_survey_PV17_charm'

In [3]:
dati_lh2=pd.read_csv("exp_data/lambda_had_global.dat", delimiter=r"\s+", header=0, engine='python')

In [4]:
dati_lh2

      h1   h2    z1    z2   P_exp  P(theo)       err     unpol
0    300  100  0.25  0.25 -0.0390 -0.02600  0.004080  0.151000
1    300  100  0.25  0.35 -0.0474 -0.03910  0.006344  0.065820
2    300  100  0.25  0.45 -0.0708 -0.05191  0.008810  0.031190
3    300  100  0.25  0.60 -0.0757 -0.07459  0.010020  0.010960
4    300  100  0.35  0.25 -0.0243 -0.02172  0.003933  0.061360
..   ...  ...   ...   ...     ...      ...       ...       ...
123  310  205  0.45  0.60 -0.0826 -0.05592  0.012650  0.002413
124  310  205  0.60  0.25 -0.0508 -0.03499  0.007599  0.006919
125  310  205  0.60  0.35 -0.0609 -0.04695  0.010480  0.003658
126  310  205  0.60  0.45 -0.0621 -0.05716  0.014030  0.002022
127  310  205  0.60  0.60 -0.0828 -0.06947  0.014050  0.000924

[128 rows x 8 columns]

In [5]:
del dati_lh2['unpol']
del dati_lh2['P(theo)']

In [6]:
new_df = dati_lh2
new_df

      h1   h2    z1    z2   P_exp       err
0    300  100  0.25  0.25 -0.0390  0.004080
1    300  100  0.25  0.35 -0.0474  0.006344
2    300  100  0.25  0.45 -0.0708  0.008810
3    300  100  0.25  0.60 -0.0757  0.010020
4    300  100  0.35  0.25 -0.0243  0.003933
..   ...  ...   ...   ...     ...       ...
123  310  205  0.45  0.60 -0.0826  0.012650
124  310  205  0.60  0.25 -0.0508  0.007599
125  310  205  0.60  0.35 -0.0609  0.010480
126  310  205  0.60  0.45 -0.0621  0.014030
127  310  205  0.60  0.60 -0.0828  0.014050

[128 rows x 6 columns]

In [19]:
func = polarization(0.25)
func.g_k = 'PV17'
func.mdl_den = 'pwr_lw_star'
func.charm = 'no'
func.bmax = 0.6
func.mass = 1.115
func.scale = 10.58
func.nf=4

In [20]:
unpol=array([])
for h1,h2,zz1,zz2 in zip(dati_lh2.h1,dati_lh2.h2,dati_lh2.z1,dati_lh2.z2):

    if h1== 300: had1='lbd'
    elif h1== 310: had1='lbd_b'
    if h2== 100: had2='pi+'
    elif h2== 105: had2='pi-'
    elif h2== 200: had2='k+'
    elif h2==  205: had2='k-'
    unpol=np.append(unpol,func.denominator(had1,had2,zz1,zz2))
    #print(unpol)

/home/zackmrc/Documenti/git_project/SIDIS pol/def_convolution_v3.1_survey_PV17_charm/Sudakov/sudakov_factor.py:63: RuntimeWarning: invalid value encountered in double_scalars
  bstar = bstar/(1-np.exp(-bt**4/self.bmin**4))**(1/4)

In [21]:
new_dati=new_df
new_dati['unpol1']=unpol
new_dati

      h1   h2    z1    z2   P_exp       err    unpol1
0    300  100  0.25  0.25 -0.0390  0.004080  0.029783
1    300  100  0.25  0.35 -0.0474  0.006344  0.013692
2    300  100  0.25  0.45 -0.0708  0.008810  0.006646
3    300  100  0.25  0.60 -0.0757  0.010020  0.002387
4    300  100  0.35  0.25 -0.0243  0.003933  0.026576
..   ...  ...   ...   ...     ...       ...       ...
123  310  205  0.45  0.60 -0.0826  0.012650  0.001107
124  310  205  0.60  0.25 -0.0508  0.007599  0.003831
125  310  205  0.60  0.35 -0.0609  0.010480  0.002319
126  310  205  0.60  0.45 -0.0621  0.014030  0.001351
127  310  205  0.60  0.60 -0.0828  0.014050  0.000638

[128 rows x 7 columns]

In [10]:

new_dati.to_csv('unpol_dfs/dataframe_pwr_nocharm.csv')

In [11]:
func = polarization(0.25)
func.g_k = 'PV17'
func.mdl_den = 'pwr_lw_star'
func.charm = 'yes'
func.bmax = 0.6
func.mass = 1.115
func.nf=4

In [12]:
unpol1=array([])
for h1,h2,zz1,zz2 in zip(dati_lh2.h1,dati_lh2.h2,dati_lh2.z1,dati_lh2.z2):

    if h1== 300: had1='lbd'
    elif h1== 310: had1='lbd_b'
    if h2== 100: had2='pi+'
    elif h2== 105: had2='pi-'
    elif h2== 200: had2='k+'
    elif h2==  205: had2='k-'
    unpol1=np.append(unpol1,func.denominator(had1,had2,zz1,zz2))
    #print(unpol1)

/home/zackmrc/Documenti/git_project/SIDIS pol/def_convolution_v3.1_survey_PV17_charm/Sudakov/sudakov_factor.py:63: RuntimeWarning: invalid value encountered in double_scalars
  bstar = bstar/(1-np.exp(-bt**4/self.bmin**4))**(1/4)

In [13]:
new_dati2=new_df
new_dati['unpol2']=unpol1
new_dati2

      h1   h2    z1    z2   P_exp       err    unpol1    unpol2
0    300  100  0.25  0.25 -0.0390  0.004080  0.029783  0.045409
1    300  100  0.25  0.35 -0.0474  0.006344  0.013692  0.019724
2    300  100  0.25  0.45 -0.0708  0.008810  0.006646  0.008789
3    300  100  0.25  0.60 -0.0757  0.010020  0.002387  0.002724
4    300  100  0.35  0.25 -0.0243  0.003933  0.026576  0.043807
..   ...  ...   ...   ...     ...       ...       ...       ...
123  310  205  0.45  0.60 -0.0826  0.012650  0.001107  0.001580
124  310  205  0.60  0.25 -0.0508  0.007599  0.003831  0.006144
125  310  205  0.60  0.35 -0.0609  0.010480  0.002319  0.003618
126  310  205  0.60  0.45 -0.0621  0.014030  0.001351  0.001961
127  310  205  0.60  0.60 -0.0828  0.014050  0.000638  0.000778

[128 rows x 8 columns]

In [14]:
new_dati2.to_csv('unpol_dfs/dataframe_pwr_yescharm.csv')

In [15]:
func = polarization(0.25)
func.g_k = 'PV17'
func.mdl_den = 'gauss'
func.charm = 'no'
func.bmax = 0.6
func.mass = 1.115
func.nf=3
unpol2=array([])
for h1,h2,zz1,zz2 in zip(dati_lh2.h1,dati_lh2.h2,dati_lh2.z1,dati_lh2.z2):

    if h1== 300: had1='lbd'
    elif h1== 310: had1='lbd_b'
    if h2== 100: had2='pi+'
    elif h2== 105: had2='pi-'
    elif h2== 200: had2='k+'
    elif h2==  205: had2='k-'
    unpol2=np.append(unpol2,func.denominator(had1,had2,zz1,zz2))
   # print(unpol)


new_dati3=new_df
new_dati['unpol3']=unpol2
new_dati3.to_csv('unpol_dfs/dataframe_gauss_nocharm.csv')

/home/zackmrc/Documenti/git_project/SIDIS pol/def_convolution_v3.1_survey_PV17_charm/Sudakov/sudakov_factor.py:63: RuntimeWarning: invalid value encountered in double_scalars
  bstar = bstar/(1-np.exp(-bt**4/self.bmin**4))**(1/4)

In [16]:
new_dati3

      h1   h2    z1    z2   P_exp       err    unpol1    unpol2    unpol3
0    300  100  0.25  0.25 -0.0390  0.004080  0.029783  0.045409  0.110701
1    300  100  0.25  0.35 -0.0474  0.006344  0.013692  0.019724  0.053141
2    300  100  0.25  0.45 -0.0708  0.008810  0.006646  0.008789  0.026230
3    300  100  0.25  0.60 -0.0757  0.010020  0.002387  0.002724  0.009512
4    300  100  0.35  0.25 -0.0243  0.003933  0.026576  0.043807  0.057390
..   ...  ...   ...   ...     ...       ...       ...       ...       ...
123  310  205  0.45  0.60 -0.0826  0.012650  0.001107  0.001580  0.002097
124  310  205  0.60  0.25 -0.0508  0.007599  0.003831  0.006144  0.005649
125  310  205  0.60  0.35 -0.0609  0.010480  0.002319  0.003618  0.003555
126  310  205  0.60  0.45 -0.0621  0.014030  0.001351  0.001961  0.002105
127  310  205  0.60  0.60 -0.0828  0.014050  0.000638  0.000778  0.001006

[128 rows x 9 columns]

In [17]:
func = polarization(0.25)
func.g_k = 'PV17'
func.mdl_den = 'gauss'
func.charm = 'yes'
func.bmax = 0.6
func.mass = 1.115
func.nf=4
unpol3=array([])
for h1,h2,zz1,zz2 in zip(dati_lh2.h1,dati_lh2.h2,dati_lh2.z1,dati_lh2.z2):

    if h1== 300: had1='lbd'
    elif h1== 310: had1='lbd_b'
    if h2== 100: had2='pi+'
    elif h2== 105: had2='pi-'
    elif h2== 200: had2='k+'
    elif h2==  205: had2='k-'
    unpol3=np.append(unpol3,func.denominator(had1,had2,zz1,zz2))
   # print(unpol)


new_dati4=new_df
new_dati['unpol4']=unpol3

new_dati4.to_csv('unpol_dfs/dataframe_gauss_yescharm.csv')
new_dati.to_csv('unpol_dfs/full.csv')

/home/zackmrc/Documenti/git_project/SIDIS pol/def_convolution_v3.1_survey_PV17_charm/Sudakov/sudakov_factor.py:63: RuntimeWarning: invalid value encountered in double_scalars
  bstar = bstar/(1-np.exp(-bt**4/self.bmin**4))**(1/4)

In [18]:
new_dati4

,h1,h2,z1,z2,P_exp,err,unpol1,unpol2,unpol3,unpol4
0,300,100,0.25,0.25,-0.0390,0.004080,0.029783,0.045409,0.110701,0.168786
1,300,100,0.25,0.35,-0.0474,0.006344,0.013692,0.019724,0.053141,0.076559
2,300,100,0.25,0.45,-0.0708,0.008810,0.006646,0.008789,0.026230,0.034687
3,300,100,0.25,0.60,-0.0757,0.010020,0.002387,0.002724,0.009512,0.010855
4,300,100,0.35,0.25,-0.0243,0.003933,0.026576,0.043807,0.057390,0.094585
...,...,...,...,...,...,...,...,...,...,...
123,310,205,0.45,0.60,-0.0826,0.012650,0.001107,0.001580,0.002097,0.003004
124,310,205,0.60,0.25,-0.0508,0.007599,0.003831,0.006144,0.005649,0.009061
125,310,205,0.60,0.35,-0.0609,0.010480,0.002319,0.003618,0.003555,0.005549
126,310,205,0.60,0.45,-0.0621,0.014030,0.001351,0.001961,0.002105,0.003059
127,310,205,0.60,0.60,-0.0828,0.014050,0.000638,0.000778,0.001006,0.001230

In [19]:
df=pd.read_csv('unpol_dfs/dataframe_pwr_nocharm.csv')
df1=pd.read_csv('unpol_dfs/dataframe_pwr_yescharm.csv')
df2=pd.read_csv('unpol_dfs/dataframe_gauss_yescharm.csv')
df3=pd.read_csv('unpol_dfs/dataframe_gauss_nocharm.csv')

In [20]:
df = pd.read_csv('unpol_dfs/dataframe_pwr_nocharm.csv')
df1 = pd.read_csv('unpol_dfs/dataframe_pwr_yescharm.csv')

In [21]:
df

     Unnamed: 0   h1   h2    z1    z2   P_exp       err    unpol1
0             0  300  100  0.25  0.25 -0.0390  0.004080  0.029783
1             1  300  100  0.25  0.35 -0.0474  0.006344  0.013692
2             2  300  100  0.25  0.45 -0.0708  0.008810  0.006646
3             3  300  100  0.25  0.60 -0.0757  0.010020  0.002387
4             4  300  100  0.35  0.25 -0.0243  0.003933  0.026576
..          ...  ...  ...   ...   ...     ...       ...       ...
123         123  310  205  0.45  0.60 -0.0826  0.012650  0.001107
124         124  310  205  0.60  0.25 -0.0508  0.007599  0.003831
125         125  310  205  0.60  0.35 -0.0609  0.010480  0.002319
126         126  310  205  0.60  0.45 -0.0621  0.014030  0.001351
127         127  310  205  0.60  0.60 -0.0828  0.014050  0.000638

[128 rows x 8 columns]

In [22]:
df1

     Unnamed: 0   h1   h2    z1    z2   P_exp       err    unpol1    unpol2
0             0  300  100  0.25  0.25 -0.0390  0.004080  0.029783  0.045409
1             1  300  100  0.25  0.35 -0.0474  0.006344  0.013692  0.019724
2             2  300  100  0.25  0.45 -0.0708  0.008810  0.006646  0.008789
3             3  300  100  0.25  0.60 -0.0757  0.010020  0.002387  0.002724
4             4  300  100  0.35  0.25 -0.0243  0.003933  0.026576  0.043807
..          ...  ...  ...   ...   ...     ...       ...       ...       ...
123         123  310  205  0.45  0.60 -0.0826  0.012650  0.001107  0.001580
124         124  310  205  0.60  0.25 -0.0508  0.007599  0.003831  0.006144
125         125  310  205  0.60  0.35 -0.0609  0.010480  0.002319  0.003618
126         126  310  205  0.60  0.45 -0.0621  0.014030  0.001351  0.001961
127         127  310  205  0.60  0.60 -0.0828  0.014050  0.000638  0.000778

[128 rows x 9 columns]

In [23]:
df2

,Unnamed: 0,h1,h2,z1,z2,P_exp,err,unpol1,unpol2,unpol3,unpol4
0,0,300,100,0.25,0.25,-0.0390,0.004080,0.029783,0.045409,0.110701,0.168786
1,1,300,100,0.25,0.35,-0.0474,0.006344,0.013692,0.019724,0.053141,0.076559
2,2,300,100,0.25,0.45,-0.0708,0.008810,0.006646,0.008789,0.026230,0.034687
3,3,300,100,0.25,0.60,-0.0757,0.010020,0.002387,0.002724,0.009512,0.010855
4,4,300,100,0.35,0.25,-0.0243,0.003933,0.026576,0.043807,0.057390,0.094585
...,...,...,...,...,...,...,...,...,...,...,...
123,123,310,205,0.45,0.60,-0.0826,0.012650,0.001107,0.001580,0.002097,0.003004
124,124,310,205,0.60,0.25,-0.0508,0.007599,0.003831,0.006144,0.005649,0.009061
125,125,310,205,0.60,0.35,-0.0609,0.010480,0.002319,0.003618,0.003555,0.005549
126,126,310,205,0.60,0.45,-0.0621,0.014030,0.001351,0.001961,0.002105,0.003059
127,127,310,205,0.60,0.60,-0.0828,0.014050,0.000638,0.000778,0.001006,0.001230

###

In [24]:
df3

,Unnamed: 0,h1,h2,z1,z2,P_exp,err,unpol1,unpol2,unpol3
0,0,300,100,0.25,0.25,-0.0390,0.004080,0.029783,0.045409,0.110701
1,1,300,100,0.25,0.35,-0.0474,0.006344,0.013692,0.019724,0.053141
2,2,300,100,0.25,0.45,-0.0708,0.008810,0.006646,0.008789,0.026230
3,3,300,100,0.25,0.60,-0.0757,0.010020,0.002387,0.002724,0.009512
4,4,300,100,0.35,0.25,-0.0243,0.003933,0.026576,0.043807,0.057390
...,...,...,...,...,...,...,...,...,...,...
123,123,310,205,0.45,0.60,-0.0826,0.012650,0.001107,0.001580,0.002097
124,124,310,205,0.60,0.25,-0.0508,0.007599,0.003831,0.006144,0.005649
125,125,310,205,0.60,0.35,-0.0609,0.010480,0.002319,0.003618,0.003555
126,126,310,205,0.60,0.45,-0.0621,0.014030,0.001351,0.001961,0.002105
127,127,310,205,0.60,0.60,-0.0828,0.014050,0.000638,0.000778,0.001006

In [25]:
unpol = pd.read_csv('unpol_dfs/dataframe_pwr_nocharm.csv')

In [26]:
unpol

     Unnamed: 0   h1   h2    z1    z2   P_exp       err    unpol1
0             0  300  100  0.25  0.25 -0.0390  0.004080  0.029783
1             1  300  100  0.25  0.35 -0.0474  0.006344  0.013692
2             2  300  100  0.25  0.45 -0.0708  0.008810  0.006646
3             3  300  100  0.25  0.60 -0.0757  0.010020  0.002387
4             4  300  100  0.35  0.25 -0.0243  0.003933  0.026576
..          ...  ...  ...   ...   ...     ...       ...       ...
123         123  310  205  0.45  0.60 -0.0826  0.012650  0.001107
124         124  310  205  0.60  0.25 -0.0508  0.007599  0.003831
125         125  310  205  0.60  0.35 -0.0609  0.010480  0.002319
126         126  310  205  0.60  0.45 -0.0621  0.014030  0.001351
127         127  310  205  0.60  0.60 -0.0828  0.014050  0.000638

[128 rows x 8 columns]

In [27]:
 unpol = pd.read_csv('unpol_dfs/dataframe_pwr_yescharm.csv')

In [28]:
unpol

     Unnamed: 0   h1   h2    z1    z2   P_exp       err    unpol1    unpol2
0             0  300  100  0.25  0.25 -0.0390  0.004080  0.029783  0.045409
1             1  300  100  0.25  0.35 -0.0474  0.006344  0.013692  0.019724
2             2  300  100  0.25  0.45 -0.0708  0.008810  0.006646  0.008789
3             3  300  100  0.25  0.60 -0.0757  0.010020  0.002387  0.002724
4             4  300  100  0.35  0.25 -0.0243  0.003933  0.026576  0.043807
..          ...  ...  ...   ...   ...     ...       ...       ...       ...
123         123  310  205  0.45  0.60 -0.0826  0.012650  0.001107  0.001580
124         124  310  205  0.60  0.25 -0.0508  0.007599  0.003831  0.006144
125         125  310  205  0.60  0.35 -0.0609  0.010480  0.002319  0.003618
126         126  310  205  0.60  0.45 -0.0621  0.014030  0.001351  0.001961
127         127  310  205  0.60  0.60 -0.0828  0.014050  0.000638  0.000778

[128 rows x 9 columns]