In [1]:
import pandas as pd

In [2]:
df_prm1 = pd.read_csv('fit_parameters/new_bands_pv17/new_gauss_70k_set.csv')
df_prm2 = pd.read_csv('fit_parameters/new_bands_pv17/new_gauss_70k_set1.csv')

In [3]:
df_prm1

,NUP,NDO,NST,NSEA,AST,BUP,BSEA,PP2,chi
0,0.167732,-0.138364,-0.152176,-0.101901,2.212388,4.013090,2.897532,0.095053,108.419263
1,0.172527,-0.131041,-0.161789,-0.102790,2.126317,4.189835,3.010464,0.101223,108.114607
2,0.169170,-0.135726,-0.158777,-0.100928,2.270597,4.079378,2.931179,0.095621,108.318517
3,0.168216,-0.137593,-0.176026,-0.099962,2.281019,4.033872,2.912493,0.101444,108.393413
4,0.166394,-0.141129,-0.151399,-0.107113,2.167840,3.956802,2.861132,0.111039,107.748569
...,...,...,...,...,...,...,...,...,...
2095,0.168435,-0.137287,-0.172373,-0.103904,2.283929,4.037579,2.915260,0.099393,106.286198
2096,0.166037,-0.141295,-0.165106,-0.104306,2.194118,3.945558,2.858399,0.102128,106.585183
2097,0.167324,-0.139563,-0.159623,-0.101137,2.302502,3.987773,2.874491,0.100845,108.103547
2098,0.167701,-0.138025,-0.156689,-0.100921,2.162930,4.016337,2.898542,0.103244,106.702143
2099,0.171004,-0.132869,-0.148274,-0.108440,2.139689,4.141309,2.983817,0.103588,106.454298

In [4]:
#chi_min = 105.4
#df_prm.loc[(df_prm['chi']<chi_min+15.79)]

In [5]:
df_prm1['chi'].min()

105.29178027783358

In [6]:
105.29/(96-8)

1.1964772727272728

In [7]:
df_prm1['chi'].max()

116.062614130935

In [8]:
df = pd.concat([df_prm1,df_prm2])

In [9]:
df['chi'].max()

119.65777991197504

In [10]:
chi_min = 105.4
df.loc[(df['chi']<chi_min+15.79)]
#df.loc[(df['chi']<df_prm1['chi'].min()+15.79)]

,NUP,NDO,NST,NSEA,AST,BUP,BSEA,PP2,chi
0,0.167732,-0.138364,-0.152176,-0.101901,2.212388,4.013090,2.897532,0.095053,108.419263
1,0.172527,-0.131041,-0.161789,-0.102790,2.126317,4.189835,3.010464,0.101223,108.114607
2,0.169170,-0.135726,-0.158777,-0.100928,2.270597,4.079378,2.931179,0.095621,108.318517
3,0.168216,-0.137593,-0.176026,-0.099962,2.281019,4.033872,2.912493,0.101444,108.393413
4,0.166394,-0.141129,-0.151399,-0.107113,2.167840,3.956802,2.861132,0.111039,107.748569
...,...,...,...,...,...,...,...,...,...
975,0.167794,-0.138050,-0.159433,-0.102878,2.209823,4.018995,2.909751,0.100199,105.864661
976,0.166832,-0.139785,-0.154561,-0.101092,2.227899,3.984833,2.882310,0.095743,107.984316
977,0.168469,-0.137254,-0.155456,-0.104614,2.153721,4.033273,2.912480,0.106633,106.171161
978,0.168720,-0.136369,-0.166566,-0.102775,2.279800,4.048534,2.921076,0.100240,106.431319
979,0.168896,-0.136872,-0.171796,-0.102669,2.271713,4.051853,2.927199,0.104578,107.360370

In [11]:
mean

NameError: name 'mean' is not defined