In [1]:
import pandas as pd
from numpy import*

In [2]:
gauss1=pd.read_csv('lp_point_gauss_1.csv',)
gauss11=pd.read_csv('lp_point_gauss_1.2.csv')

In [3]:
gauss1

,Unnamed: 0,Unnamed: 0.1,had1,had2,z1,z2,mins,maxx,fit_line,conv
0,0,0,300.0,100.0,0.25,0.150,-0.021181,0.006177,NaN,-0.013265
1,1,1,300.0,100.0,0.25,0.222,-0.041093,0.010190,NaN,-0.028412
2,2,2,300.0,100.0,0.25,0.294,-0.058318,0.011443,NaN,-0.043223
3,3,3,300.0,100.0,0.25,0.367,-0.071673,0.010466,NaN,-0.056039
4,4,4,300.0,100.0,0.25,0.439,-0.083004,0.007928,NaN,-0.067479
...,...,...,...,...,...,...,...,...,...,...
155,155,155,310.0,105.0,0.60,0.511,0.000000,0.000000,NaN,-0.051296
156,156,156,310.0,105.0,0.60,0.583,0.000000,0.000000,NaN,-0.056289
157,157,157,310.0,105.0,0.60,0.656,0.000000,0.000000,NaN,-0.061883
158,158,158,310.0,105.0,0.60,0.728,0.000000,0.000000,NaN,-0.069163
159,159,159,310.0,105.0,0.60,0.800,0.000000,0.000000,NaN,-0.077397

In [4]:
gauss11

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,had1,had2,z1,z2,mins,maxx,fit_line,conv
0,103,103,103,310.0,100.0,0.45,0.367,-0.022987,-0.004731,NaN,-0.018238
1,104,104,104,310.0,100.0,0.45,0.439,-0.023215,-0.003908,NaN,-0.017944
2,105,105,105,310.0,100.0,0.45,0.511,-0.022058,-0.002479,NaN,-0.016361
3,106,106,106,310.0,100.0,0.45,0.583,-0.020311,-0.000368,NaN,-0.013555
4,107,107,107,310.0,100.0,0.45,0.656,-0.017854,0.002345,NaN,-0.009674
5,108,108,108,310.0,100.0,0.45,0.728,-0.015323,0.008534,NaN,-0.004725
6,109,109,109,310.0,100.0,0.45,0.800,-0.012884,0.015981,NaN,0.000237
7,110,110,110,310.0,100.0,0.60,0.150,-0.014163,-0.005613,NaN,-0.011802
8,111,111,111,310.0,100.0,0.60,0.222,-0.025733,-0.010166,NaN,-0.021442
9,112,112,112,310.0,100.0,0.60,0.294,-0.034324,-0.013512,NaN,-0.028577
10,113,113,113,310.0,100.0,0.60,0.367,-0.039765,-0.015580,NaN,-0.033040
11,114,114,114,310.0,100.0,0.60,0.439,-0.042791,-0.016683,NaN,-0.035487
12,115,115,115,310.0,100.0,0.60,0.511,-0.044300,-0.017147,NaN,-0.036643
13,116,116,116,310.0,100.0,0.60,0.583,-0.044253,-0.016928,NaN,-0.036483
14,117,117,117,310.0,100.0,0.60,0.656,-0.042662,-0.015999,NaN,-0.034981
15,118,118,118,310.0,100.0,0.60,0.728,-0.039300,-0.014205,NaN,-0.031943
16,119,119,119,310.0,100.0,0.60,0.800,-0.034625,-0.011612,NaN,-0.027765
17,120,120,120,310.0,105.0,0.25,0.150,-0.021181,0.006177,NaN,-0.013265
18,121,121,121,310.0,105.0,0.25,0.222,-0.041093,0.010190,NaN,-0.028412
19,122,122,122,310.0,105.0,0.25,0.294,-0.058318,0.011443,NaN,-0.043223
20,123,123,123,310.0,105.0,0.25,0.367,-0.071673,0.010466,NaN,-0.056039
21,124,124,124,310.0,105.0,0.25,0.439,-0.083004,0.007928,NaN,-0.067479
22,125,125,125,310.0,105.0,0.25,0.511,-0.097591,0.004051,NaN,-0.079086
23,126,126,126,310.0,105.0,0.25,0.583,-0.113257,-0.001074,NaN,-0.091764
24,127,127,127,310.0,105.0,0.25,0.656,-0.131338,-0.004139,NaN,-0.105578
25,128,128,128,310.0,105.0,0.25,0.728,-0.151419,-0.006618,NaN,-0.120723
26,129,129,129,310.0,105.0,0.25,0.800,-0.170059,-0.008825,NaN,-0.134797
27,130,130,130,310.0,105.0,0.35,0.150,-0.011858,-0.000313,NaN,-0.008920
28,131,131,131,310.0,105.0,0.35,0.222,-0.025206,-0.001897,NaN,-0.019762
29,132,132,132,310.0,105.0,0.35,0.294,-0.037627,-0.004050,NaN,-0.030442
30,133,133,133,310.0,105.0,0.35,0.367,-0.047785,-0.006454,NaN,-0.039633
31,134,134,134,310.0,105.0,0.35,0.439,-0.056305,-0.008977,NaN,-0.047599
32,135,135,135,310.0,105.0,0.35,0.511,-0.065733,-0.010931,NaN,-0.055404
33,136,136,136,310.0,105.0,0.35,0.583,-0.075803,-0.013074,NaN,-0.063775
34,137,137,137,310.0,105.0,0.35,0.656,-0.086852,-0.015394,NaN,-0.072771
35,138,138,138,310.0,105.0,0.35,0.728,-0.098950,-0.017942,NaN,-0.082814
36,139,139,139,310.0,105.0,0.35,0.800,-0.110499,-0.020329,NaN,-0.092300
37,140,140,140,310.0,105.0,0.45,0.150,-0.012750,-0.004002,NaN,-0.010660
38,141,141,141,310.0,105.0,0.45,0.222,-0.026153,-0.008760,NaN,-0.021885
39,142,142,142,310.0,105.0,0.45,0.294,-0.038441,-0.013428,NaN,-0.032121
40,143,143,143,310.0,105.0,0.45,0.367,-0.048475,-0.017458,NaN,-0.040454
41,144,144,144,310.0,105.0,0.45,0.439,-0.056953,-0.021112,NaN,-0.047440
42,145,145,145,310.0,105.0,0.45,0.511,-0.065647,-0.024871,NaN,-0.054157
43,146,146,146,310.0,105.0,0.45,0.583,-0.075077,-0.029054,NaN,-0.061296
44,147,147,147,310.0,105.0,0.45,0.656,-0.085704,-0.033831,NaN,-0.069245
45,148,148,148,310.0,105.0,0.45,0.728,-0.097788,-0.039253,NaN,-0.078126
46,149,149,149,310.0,105.0,0.45,0.800,-0.109723,-0.044667,NaN,-0.086921
47,150,150,150,310.0,105.0,0.60,0.150,-0.015241,-0.006449,NaN,-0.012716
48,151,151,151,310.0,105.0,0.60,0.222,-0.028995,-0.012640,NaN,-0.024205
49,152,152,152,310.0,105.0,0.60,0.294,-0.040435,-0.018024,NaN,-0.033781
50,153,153,153,310.0,105.0,0.60,0.367,-0.048931,-0.022216,NaN,-0.040922
51,154,154,154,310.0,105.0,0.60,0.439,-0.055326,-0.025677,NaN,-0.046340
52,155,155,155,310.0,105.0,0.60,0.511,-0.061137,-0.029050,NaN,-0.051296
53,156,156,156,310.0,105.0,0.60,0.583,-0.067236,-0.032748,NaN,-0.056289
54,157,157,157,310.0,105.0,0.60,0.656,-0.074940,-0.037188,NaN,-0.061883
55,158,158,158,310.0,105.0,0.60,0.728,-0.085231,-0.043110,NaN,-0.069163
56,159,159,159,310.0,105.0,0.60,0.800,-0.097087,-0.049978,NaN,-0.077397

In [5]:
gauss1= gauss1.truncate(after=102)

In [6]:
gauss1.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'had1', 'had2', 'z1', 'z2', 'mins',
       'maxx', 'fit_line', 'conv'],
      dtype='object')

In [7]:
gauss1 = gauss1.drop('Unnamed: 0',1)
gauss1 = gauss1.drop('Unnamed: 0.1',1)
gauss11 = gauss11.drop('Unnamed: 0',1)
gauss11 = gauss11.drop('Unnamed: 0.1',1)

In [8]:
#gauss11

In [9]:
frames = [gauss1,gauss11]
gauss1_tot =pd.concat(frames)
gauss1_tot=gauss1_tot.drop('Unnamed: 0.1.1',1)
gauss1_tot

     had1   had2    z1     z2      mins      maxx  fit_line      conv
0   300.0  100.0  0.25  0.150 -0.021181  0.006177       NaN -0.013265
1   300.0  100.0  0.25  0.222 -0.041093  0.010190       NaN -0.028412
2   300.0  100.0  0.25  0.294 -0.058318  0.011443       NaN -0.043223
3   300.0  100.0  0.25  0.367 -0.071673  0.010466       NaN -0.056039
4   300.0  100.0  0.25  0.439 -0.083004  0.007928       NaN -0.067479
..    ...    ...   ...    ...       ...       ...       ...       ...
52  310.0  105.0  0.60  0.511 -0.061137 -0.029050       NaN -0.051296
53  310.0  105.0  0.60  0.583 -0.067236 -0.032748       NaN -0.056289
54  310.0  105.0  0.60  0.656 -0.074940 -0.037188       NaN -0.061883
55  310.0  105.0  0.60  0.728 -0.085231 -0.043110       NaN -0.069163
56  310.0  105.0  0.60  0.800 -0.097087 -0.049978       NaN -0.077397

[160 rows x 8 columns]

In [10]:
gauss2=pd.read_csv('lp_point_gauss_2.csv',)
gauss22=pd.read_csv('lp_point_gauss_2.2.csv')

In [11]:
gauss2 = gauss2.truncate(after=102)

In [12]:
gauss22

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,had1,had2,z1,z2,mins,maxx,fit_line,conv
0,103,103,103,310.0,100.0,0.45,0.367,-0.022314,-0.004737,NaN,-0.018238
1,104,104,104,310.0,100.0,0.45,0.439,-0.022445,-0.004144,NaN,-0.017944
2,105,105,105,310.0,100.0,0.45,0.511,-0.021867,-0.003030,NaN,-0.016361
3,106,106,106,310.0,100.0,0.45,0.583,-0.020311,-0.001295,NaN,-0.013555
4,107,107,107,310.0,100.0,0.45,0.656,-0.017854,0.004555,NaN,-0.009674
5,108,108,108,310.0,100.0,0.45,0.728,-0.015323,0.011679,NaN,-0.004725
6,109,109,109,310.0,100.0,0.45,0.800,-0.012884,0.018738,NaN,0.000237
7,110,110,110,310.0,100.0,0.60,0.150,-0.013929,-0.005613,NaN,-0.011802
8,111,111,111,310.0,100.0,0.60,0.222,-0.025270,-0.010166,NaN,-0.021442
9,112,112,112,310.0,100.0,0.60,0.294,-0.033632,-0.013512,NaN,-0.028577
10,113,113,113,310.0,100.0,0.60,0.367,-0.038828,-0.015580,NaN,-0.033040
11,114,114,114,310.0,100.0,0.60,0.439,-0.041633,-0.016683,NaN,-0.035487
12,115,115,115,310.0,100.0,0.60,0.511,-0.042937,-0.017147,NaN,-0.036643
13,116,116,116,310.0,100.0,0.60,0.583,-0.042670,-0.016928,NaN,-0.036483
14,117,117,117,310.0,100.0,0.60,0.656,-0.041125,-0.015999,NaN,-0.034981
15,118,118,118,310.0,100.0,0.60,0.728,-0.037851,-0.014205,NaN,-0.031943
16,119,119,119,310.0,100.0,0.60,0.800,-0.033293,-0.011757,NaN,-0.027765
17,120,120,120,310.0,105.0,0.25,0.150,-0.019770,0.006445,NaN,-0.013265
18,121,121,121,310.0,105.0,0.25,0.222,-0.040008,0.011917,NaN,-0.028412
19,122,122,122,310.0,105.0,0.25,0.294,-0.057871,0.015051,NaN,-0.043223
20,123,123,123,310.0,105.0,0.25,0.367,-0.071773,0.015918,NaN,-0.056039
21,124,124,124,310.0,105.0,0.25,0.439,-0.083847,0.015110,NaN,-0.067479
22,125,125,125,310.0,105.0,0.25,0.511,-0.097242,0.012993,NaN,-0.079086
23,126,126,126,310.0,105.0,0.25,0.583,-0.111841,0.009822,NaN,-0.091764
24,127,127,127,310.0,105.0,0.25,0.656,-0.127800,0.005848,NaN,-0.105578
25,128,128,128,310.0,105.0,0.25,0.728,-0.146618,0.001230,NaN,-0.120723
26,129,129,129,310.0,105.0,0.25,0.800,-0.164065,-0.003061,NaN,-0.134797
27,130,130,130,310.0,105.0,0.35,0.150,-0.011232,0.000155,NaN,-0.008920
28,131,131,131,310.0,105.0,0.35,0.222,-0.023791,-0.000362,NaN,-0.019762
29,132,132,132,310.0,105.0,0.35,0.294,-0.036053,-0.001401,NaN,-0.030442
30,133,133,133,310.0,105.0,0.35,0.367,-0.046485,-0.002843,NaN,-0.039633
31,134,134,134,310.0,105.0,0.35,0.439,-0.055492,-0.004249,NaN,-0.047599
32,135,135,135,310.0,105.0,0.35,0.511,-0.064541,-0.005923,NaN,-0.055404
33,136,136,136,310.0,105.0,0.35,0.583,-0.074044,-0.007939,NaN,-0.063775
34,137,137,137,310.0,105.0,0.35,0.656,-0.084762,-0.010287,NaN,-0.072771
35,138,138,138,310.0,105.0,0.35,0.728,-0.096800,-0.012967,NaN,-0.082814
36,139,139,139,310.0,105.0,0.35,0.800,-0.108190,-0.015490,NaN,-0.092300
37,140,140,140,310.0,105.0,0.45,0.150,-0.012599,-0.003804,NaN,-0.010660
38,141,141,141,310.0,105.0,0.45,0.222,-0.025696,-0.008138,NaN,-0.021885
39,142,142,142,310.0,105.0,0.45,0.294,-0.037688,-0.012263,NaN,-0.032121
40,143,143,143,310.0,105.0,0.45,0.367,-0.047566,-0.015727,NaN,-0.040454
41,144,144,144,310.0,105.0,0.45,0.439,-0.055900,-0.018781,NaN,-0.047440
42,145,145,145,310.0,105.0,0.45,0.511,-0.064099,-0.021848,NaN,-0.054157
43,146,146,146,310.0,105.0,0.45,0.583,-0.073096,-0.025193,NaN,-0.061296
44,147,147,147,310.0,105.0,0.45,0.656,-0.083295,-0.028972,NaN,-0.069245
45,148,148,148,310.0,105.0,0.45,0.728,-0.094869,-0.033229,NaN,-0.078126
46,149,149,149,310.0,105.0,0.45,0.800,-0.106317,-0.037474,NaN,-0.086921
47,150,150,150,310.0,105.0,0.60,0.150,-0.014855,-0.006580,NaN,-0.012716
48,151,151,151,310.0,105.0,0.60,0.222,-0.028156,-0.013083,NaN,-0.024205
49,152,152,152,310.0,105.0,0.60,0.294,-0.039275,-0.018996,NaN,-0.033781
50,153,153,153,310.0,105.0,0.60,0.367,-0.047558,-0.023881,NaN,-0.040922
51,154,154,154,310.0,105.0,0.60,0.439,-0.053831,-0.028107,NaN,-0.046340
52,155,155,155,310.0,105.0,0.60,0.511,-0.059557,-0.032566,NaN,-0.051296
53,156,156,156,310.0,105.0,0.60,0.583,-0.065453,-0.037181,NaN,-0.056289
54,157,157,157,310.0,105.0,0.60,0.656,-0.072990,-0.041353,NaN,-0.061883
55,158,158,158,310.0,105.0,0.60,0.728,-0.083139,-0.045426,NaN,-0.069163
56,159,159,159,310.0,105.0,0.60,0.800,-0.094853,-0.049876,NaN,-0.077397

In [13]:
frames = [gauss2,gauss22]
gauss2_tot =pd.concat(frames)
gauss2_tot=gauss2_tot.drop('Unnamed: 0.1.1',1)
gauss2_tot=gauss2_tot.drop('Unnamed: 0.1',1)
gauss2_tot=gauss2_tot.drop('Unnamed: 0',1)

gauss2_tot

     had1   had2    z1     z2      mins      maxx  fit_line      conv
0   300.0  100.0  0.25  0.150 -0.019770  0.006445       NaN -0.013265
1   300.0  100.0  0.25  0.222 -0.040008  0.011917       NaN -0.028412
2   300.0  100.0  0.25  0.294 -0.057871  0.015051       NaN -0.043223
3   300.0  100.0  0.25  0.367 -0.071773  0.015918       NaN -0.056039
4   300.0  100.0  0.25  0.439 -0.083847  0.015110       NaN -0.067479
..    ...    ...   ...    ...       ...       ...       ...       ...
52  310.0  105.0  0.60  0.511 -0.059557 -0.032566       NaN -0.051296
53  310.0  105.0  0.60  0.583 -0.065453 -0.037181       NaN -0.056289
54  310.0  105.0  0.60  0.656 -0.072990 -0.041353       NaN -0.061883
55  310.0  105.0  0.60  0.728 -0.083139 -0.045426       NaN -0.069163
56  310.0  105.0  0.60  0.800 -0.094853 -0.049876       NaN -0.077397

[160 rows x 8 columns]

In [14]:
gauss3=pd.read_csv('lp_point_gauss_3.csv',)
gauss33=pd.read_csv('lp_point_gauss_3.2.csv')

In [15]:
gauss3= gauss3.truncate(after=102)

In [16]:
gauss33

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,had1,had2,z1,z2,mins,maxx,fit_line,conv
0,103,103,103,310.0,100.0,0.45,0.367,-0.021978,-0.004731,NaN,-0.018238
1,104,104,104,310.0,100.0,0.45,0.439,-0.022700,-0.003908,NaN,-0.017944
2,105,105,105,310.0,100.0,0.45,0.511,-0.022257,-0.002479,NaN,-0.016361
3,106,106,106,310.0,100.0,0.45,0.583,-0.020731,-0.000368,NaN,-0.013555
4,107,107,107,310.0,100.0,0.45,0.656,-0.019517,0.002345,NaN,-0.009674
5,108,108,108,310.0,100.0,0.45,0.728,-0.018576,0.008522,NaN,-0.004725
6,109,109,109,310.0,100.0,0.45,0.800,-0.017553,0.015265,NaN,0.000237
7,110,110,110,310.0,100.0,0.60,0.150,-0.014041,-0.006493,NaN,-0.011802
8,111,111,111,310.0,100.0,0.60,0.222,-0.025452,-0.011820,NaN,-0.021442
9,112,112,112,310.0,100.0,0.60,0.294,-0.033847,-0.015778,NaN,-0.028577
10,113,113,113,310.0,100.0,0.60,0.367,-0.039040,-0.018262,NaN,-0.033040
11,114,114,114,310.0,100.0,0.60,0.439,-0.041809,-0.019631,NaN,-0.035487
12,115,115,115,310.0,100.0,0.60,0.511,-0.042997,-0.020287,NaN,-0.036643
13,116,116,116,310.0,100.0,0.60,0.583,-0.042670,-0.020191,NaN,-0.036483
14,117,117,117,310.0,100.0,0.60,0.656,-0.041125,-0.019335,NaN,-0.034981
15,118,118,118,310.0,100.0,0.60,0.728,-0.037851,-0.017573,NaN,-0.031943
16,119,119,119,310.0,100.0,0.60,0.800,-0.033293,-0.014922,NaN,-0.027765
17,120,120,120,310.0,105.0,0.25,0.150,-0.020208,0.006445,NaN,-0.013265
18,121,121,121,310.0,105.0,0.25,0.222,-0.040320,0.011917,NaN,-0.028412
19,122,122,122,310.0,105.0,0.25,0.294,-0.058767,0.015051,NaN,-0.043223
20,123,123,123,310.0,105.0,0.25,0.367,-0.073411,0.015918,NaN,-0.056039
21,124,124,124,310.0,105.0,0.25,0.439,-0.085259,0.015110,NaN,-0.067479
22,125,125,125,310.0,105.0,0.25,0.511,-0.097313,0.012993,NaN,-0.079086
23,126,126,126,310.0,105.0,0.25,0.583,-0.112955,0.009822,NaN,-0.091764
24,127,127,127,310.0,105.0,0.25,0.656,-0.131338,0.005848,NaN,-0.105578
25,128,128,128,310.0,105.0,0.25,0.728,-0.151419,0.001230,NaN,-0.120723
26,129,129,129,310.0,105.0,0.25,0.800,-0.170059,-0.003061,NaN,-0.134797
27,130,130,130,310.0,105.0,0.35,0.150,-0.011232,0.000155,NaN,-0.008920
28,131,131,131,310.0,105.0,0.35,0.222,-0.023829,-0.000362,NaN,-0.019762
29,132,132,132,310.0,105.0,0.35,0.294,-0.036002,-0.001401,NaN,-0.030442
30,133,133,133,310.0,105.0,0.35,0.367,-0.046688,-0.002843,NaN,-0.039633
31,134,134,134,310.0,105.0,0.35,0.439,-0.055882,-0.004249,NaN,-0.047599
32,135,135,135,310.0,105.0,0.35,0.511,-0.064830,-0.005923,NaN,-0.055404
33,136,136,136,310.0,105.0,0.35,0.583,-0.074480,-0.007939,NaN,-0.063775
34,137,137,137,310.0,105.0,0.35,0.656,-0.085422,-0.010287,NaN,-0.072771
35,138,138,138,310.0,105.0,0.35,0.728,-0.097593,-0.012967,NaN,-0.082814
36,139,139,139,310.0,105.0,0.35,0.800,-0.109200,-0.015490,NaN,-0.092300
37,140,140,140,310.0,105.0,0.45,0.150,-0.012655,-0.003804,NaN,-0.010660
38,141,141,141,310.0,105.0,0.45,0.222,-0.025861,-0.008138,NaN,-0.021885
39,142,142,142,310.0,105.0,0.45,0.294,-0.037984,-0.012263,NaN,-0.032121
40,143,143,143,310.0,105.0,0.45,0.367,-0.048189,-0.015727,NaN,-0.040454
41,144,144,144,310.0,105.0,0.45,0.439,-0.056953,-0.018781,NaN,-0.047440
42,145,145,145,310.0,105.0,0.45,0.511,-0.065647,-0.021848,NaN,-0.054157
43,146,146,146,310.0,105.0,0.45,0.583,-0.075077,-0.025193,NaN,-0.061296
44,147,147,147,310.0,105.0,0.45,0.656,-0.085704,-0.028972,NaN,-0.069245
45,148,148,148,310.0,105.0,0.45,0.728,-0.097788,-0.033229,NaN,-0.078126
46,149,149,149,310.0,105.0,0.45,0.800,-0.109723,-0.037474,NaN,-0.086921
47,150,150,150,310.0,105.0,0.60,0.150,-0.015094,-0.007406,NaN,-0.012716
48,151,151,151,310.0,105.0,0.60,0.222,-0.028651,-0.014573,NaN,-0.024205
49,152,152,152,310.0,105.0,0.60,0.294,-0.039879,-0.020959,NaN,-0.033781
50,153,153,153,310.0,105.0,0.60,0.367,-0.048183,-0.026082,NaN,-0.040922
51,154,154,154,310.0,105.0,0.60,0.439,-0.054405,-0.030030,NaN,-0.046340
52,155,155,155,310.0,105.0,0.60,0.511,-0.060012,-0.033846,NaN,-0.051296
53,156,156,156,310.0,105.0,0.60,0.583,-0.065556,-0.037928,NaN,-0.056289
54,157,157,157,310.0,105.0,0.60,0.656,-0.073158,-0.041353,NaN,-0.061883
55,158,158,158,310.0,105.0,0.60,0.728,-0.083474,-0.045426,NaN,-0.069163
56,159,159,159,310.0,105.0,0.60,0.800,-0.095373,-0.049876,NaN,-0.077397

In [17]:
frames = [gauss3,gauss33]
gauss3_tot =pd.concat(frames)
gauss3_tot=gauss3_tot.drop('Unnamed: 0.1.1',1)
gauss3_tot=gauss3_tot.drop('Unnamed: 0.1',1)
gauss3_tot=gauss3_tot.drop('Unnamed: 0',1)

gauss3_tot

     had1   had2    z1     z2      mins      maxx  fit_line      conv
0   300.0  100.0  0.25  0.150 -0.020208  0.006445       NaN -0.013265
1   300.0  100.0  0.25  0.222 -0.040320  0.011917       NaN -0.028412
2   300.0  100.0  0.25  0.294 -0.058767  0.015051       NaN -0.043223
3   300.0  100.0  0.25  0.367 -0.073411  0.015918       NaN -0.056039
4   300.0  100.0  0.25  0.439 -0.085259  0.015110       NaN -0.067479
..    ...    ...   ...    ...       ...       ...       ...       ...
52  310.0  105.0  0.60  0.511 -0.060012 -0.033846       NaN -0.051296
53  310.0  105.0  0.60  0.583 -0.065556 -0.037928       NaN -0.056289
54  310.0  105.0  0.60  0.656 -0.073158 -0.041353       NaN -0.061883
55  310.0  105.0  0.60  0.728 -0.083474 -0.045426       NaN -0.069163
56  310.0  105.0  0.60  0.800 -0.095373 -0.049876       NaN -0.077397

[160 rows x 8 columns]

In [18]:
gauss1_tot

     had1   had2    z1     z2      mins      maxx  fit_line      conv
0   300.0  100.0  0.25  0.150 -0.021181  0.006177       NaN -0.013265
1   300.0  100.0  0.25  0.222 -0.041093  0.010190       NaN -0.028412
2   300.0  100.0  0.25  0.294 -0.058318  0.011443       NaN -0.043223
3   300.0  100.0  0.25  0.367 -0.071673  0.010466       NaN -0.056039
4   300.0  100.0  0.25  0.439 -0.083004  0.007928       NaN -0.067479
..    ...    ...   ...    ...       ...       ...       ...       ...
52  310.0  105.0  0.60  0.511 -0.061137 -0.029050       NaN -0.051296
53  310.0  105.0  0.60  0.583 -0.067236 -0.032748       NaN -0.056289
54  310.0  105.0  0.60  0.656 -0.074940 -0.037188       NaN -0.061883
55  310.0  105.0  0.60  0.728 -0.085231 -0.043110       NaN -0.069163
56  310.0  105.0  0.60  0.800 -0.097087 -0.049978       NaN -0.077397

[160 rows x 8 columns]

In [19]:
gauss2_tot

     had1   had2    z1     z2      mins      maxx  fit_line      conv
0   300.0  100.0  0.25  0.150 -0.019770  0.006445       NaN -0.013265
1   300.0  100.0  0.25  0.222 -0.040008  0.011917       NaN -0.028412
2   300.0  100.0  0.25  0.294 -0.057871  0.015051       NaN -0.043223
3   300.0  100.0  0.25  0.367 -0.071773  0.015918       NaN -0.056039
4   300.0  100.0  0.25  0.439 -0.083847  0.015110       NaN -0.067479
..    ...    ...   ...    ...       ...       ...       ...       ...
52  310.0  105.0  0.60  0.511 -0.059557 -0.032566       NaN -0.051296
53  310.0  105.0  0.60  0.583 -0.065453 -0.037181       NaN -0.056289
54  310.0  105.0  0.60  0.656 -0.072990 -0.041353       NaN -0.061883
55  310.0  105.0  0.60  0.728 -0.083139 -0.045426       NaN -0.069163
56  310.0  105.0  0.60  0.800 -0.094853 -0.049876       NaN -0.077397

[160 rows x 8 columns]

In [20]:
gauss3_tot

     had1   had2    z1     z2      mins      maxx  fit_line      conv
0   300.0  100.0  0.25  0.150 -0.020208  0.006445       NaN -0.013265
1   300.0  100.0  0.25  0.222 -0.040320  0.011917       NaN -0.028412
2   300.0  100.0  0.25  0.294 -0.058767  0.015051       NaN -0.043223
3   300.0  100.0  0.25  0.367 -0.073411  0.015918       NaN -0.056039
4   300.0  100.0  0.25  0.439 -0.085259  0.015110       NaN -0.067479
..    ...    ...   ...    ...       ...       ...       ...       ...
52  310.0  105.0  0.60  0.511 -0.060012 -0.033846       NaN -0.051296
53  310.0  105.0  0.60  0.583 -0.065556 -0.037928       NaN -0.056289
54  310.0  105.0  0.60  0.656 -0.073158 -0.041353       NaN -0.061883
55  310.0  105.0  0.60  0.728 -0.083474 -0.045426       NaN -0.069163
56  310.0  105.0  0.60  0.800 -0.095373 -0.049876       NaN -0.077397

[160 rows x 8 columns]

In [21]:
gauss1_tot['mins']>gauss2_tot['mins']

0     False
1     False
2     False
3      True
4      True
      ...
52    False
53    False
54    False
55    False
56    False
Name: mins, Length: 160, dtype: bool

In [22]:
new_tot = gauss1_tot

In [23]:
new_tot=new_tot.drop('mins',1)
new_tot=new_tot.drop('maxx',1)
new_tot=new_tot.drop('fit_line',1)

In [24]:
new_tot

     had1   had2    z1     z2      conv
0   300.0  100.0  0.25  0.150 -0.013265
1   300.0  100.0  0.25  0.222 -0.028412
2   300.0  100.0  0.25  0.294 -0.043223
3   300.0  100.0  0.25  0.367 -0.056039
4   300.0  100.0  0.25  0.439 -0.067479
..    ...    ...   ...    ...       ...
52  310.0  105.0  0.60  0.511 -0.051296
53  310.0  105.0  0.60  0.583 -0.056289
54  310.0  105.0  0.60  0.656 -0.061883
55  310.0  105.0  0.60  0.728 -0.069163
56  310.0  105.0  0.60  0.800 -0.077397

[160 rows x 5 columns]

In [25]:

new_tot['valid']=gauss1_tot['mins']<gauss2_tot['mins']

In [26]:
new_tot

     had1   had2    z1     z2      conv  valid
0   300.0  100.0  0.25  0.150 -0.013265   True
1   300.0  100.0  0.25  0.222 -0.028412   True
2   300.0  100.0  0.25  0.294 -0.043223   True
3   300.0  100.0  0.25  0.367 -0.056039  False
4   300.0  100.0  0.25  0.439 -0.067479  False
..    ...    ...   ...    ...       ...    ...
52  310.0  105.0  0.60  0.511 -0.051296   True
53  310.0  105.0  0.60  0.583 -0.056289   True
54  310.0  105.0  0.60  0.656 -0.061883   True
55  310.0  105.0  0.60  0.728 -0.069163   True
56  310.0  105.0  0.60  0.800 -0.077397   True

[160 rows x 6 columns]

In [27]:
mn = zeros(len(new_tot.valid))
i=0
for vld,min1,min2 in zip(new_tot.valid,gauss1_tot.mins,gauss2_tot.mins):
    if vld == True: mn[i] = min1
    elif vld == False: mn[i] = min2

    i+=1

In [28]:
new_tot['mins'] = mn

In [29]:
new_tot=new_tot.drop('valid',1)

In [30]:
new_tot['valid'] = new_tot['mins']<gauss3_tot['mins']

In [31]:
new_tot

     had1   had2    z1     z2      conv      mins  valid
0   300.0  100.0  0.25  0.150 -0.013265 -0.021181   True
1   300.0  100.0  0.25  0.222 -0.028412 -0.041093   True
2   300.0  100.0  0.25  0.294 -0.043223 -0.058318  False
3   300.0  100.0  0.25  0.367 -0.056039 -0.071773  False
4   300.0  100.0  0.25  0.439 -0.067479 -0.083847  False
..    ...    ...   ...    ...       ...       ...    ...
52  310.0  105.0  0.60  0.511 -0.051296 -0.061137   True
53  310.0  105.0  0.60  0.583 -0.056289 -0.067236   True
54  310.0  105.0  0.60  0.656 -0.061883 -0.074940   True
55  310.0  105.0  0.60  0.728 -0.069163 -0.085231   True
56  310.0  105.0  0.60  0.800 -0.077397 -0.097087   True

[160 rows x 7 columns]

In [32]:
mn = zeros(len(new_tot.valid))
i=0
for vld,min1,min2 in zip(new_tot.valid,new_tot.mins,gauss3_tot.mins):
    if vld == True: mn[i] = min1
    elif vld == False: mn[i] = min2

    i+=1

In [33]:
new_tot['mins'] = mn

In [34]:
new_tot

     had1   had2    z1     z2      conv      mins  valid
0   300.0  100.0  0.25  0.150 -0.013265 -0.021181   True
1   300.0  100.0  0.25  0.222 -0.028412 -0.041093   True
2   300.0  100.0  0.25  0.294 -0.043223 -0.058767  False
3   300.0  100.0  0.25  0.367 -0.056039 -0.073411  False
4   300.0  100.0  0.25  0.439 -0.067479 -0.085259  False
..    ...    ...   ...    ...       ...       ...    ...
52  310.0  105.0  0.60  0.511 -0.051296 -0.061137   True
53  310.0  105.0  0.60  0.583 -0.056289 -0.067236   True
54  310.0  105.0  0.60  0.656 -0.061883 -0.074940   True
55  310.0  105.0  0.60  0.728 -0.069163 -0.085231   True
56  310.0  105.0  0.60  0.800 -0.077397 -0.097087   True

[160 rows x 7 columns]

In [35]:
new_tot=new_tot.drop('valid',1)

In [36]:
new_tot

     had1   had2    z1     z2      conv      mins
0   300.0  100.0  0.25  0.150 -0.013265 -0.021181
1   300.0  100.0  0.25  0.222 -0.028412 -0.041093
2   300.0  100.0  0.25  0.294 -0.043223 -0.058767
3   300.0  100.0  0.25  0.367 -0.056039 -0.073411
4   300.0  100.0  0.25  0.439 -0.067479 -0.085259
..    ...    ...   ...    ...       ...       ...
52  310.0  105.0  0.60  0.511 -0.051296 -0.061137
53  310.0  105.0  0.60  0.583 -0.056289 -0.067236
54  310.0  105.0  0.60  0.656 -0.061883 -0.074940
55  310.0  105.0  0.60  0.728 -0.069163 -0.085231
56  310.0  105.0  0.60  0.800 -0.077397 -0.097087

[160 rows x 6 columns]

In [37]:
new_tot['valid']=gauss1_tot.maxx>gauss2_tot.maxx

In [38]:
mn = zeros(len(new_tot.valid))
i=0
for vld,max1,max2 in zip(new_tot.valid,gauss1_tot.maxx,gauss2_tot.maxx):
    if vld == True: mn[i] = max1
    elif vld == False: mn[i] = max2

    i+=1

In [39]:
new_tot['maxx'] = mn

In [40]:
new_tot=new_tot.drop('valid',1)

In [41]:
new_tot['valid']=new_tot.maxx>gauss3_tot.maxx

In [42]:
mn = zeros(len(new_tot.valid))
i=0
for vld,max1,max2 in zip(new_tot.valid,new_tot.maxx,gauss3_tot.maxx):
    if vld == True: mn[i] = max1
    elif vld == False: mn[i] = max2

    i+=1

In [43]:
new_tot['maxx'] = mn

In [44]:
new_tot=new_tot.drop('valid',1)
new_tot

     had1   had2    z1     z2      conv      mins      maxx
0   300.0  100.0  0.25  0.150 -0.013265 -0.021181  0.006445
1   300.0  100.0  0.25  0.222 -0.028412 -0.041093  0.011917
2   300.0  100.0  0.25  0.294 -0.043223 -0.058767  0.015051
3   300.0  100.0  0.25  0.367 -0.056039 -0.073411  0.015918
4   300.0  100.0  0.25  0.439 -0.067479 -0.085259  0.015110
..    ...    ...   ...    ...       ...       ...       ...
52  310.0  105.0  0.60  0.511 -0.051296 -0.061137 -0.029050
53  310.0  105.0  0.60  0.583 -0.056289 -0.067236 -0.032748
54  310.0  105.0  0.60  0.656 -0.061883 -0.074940 -0.037188
55  310.0  105.0  0.60  0.728 -0.069163 -0.085231 -0.043110
56  310.0  105.0  0.60  0.800 -0.077397 -0.097087 -0.049876

[160 rows x 7 columns]

In [45]:
new_tot['conv']>new_tot['mins']

0     True
1     True
2     True
3     True
4     True
      ...
52    True
53    True
54    True
55    True
56    True
Length: 160, dtype: bool

In [46]:
new_tot['conv']<new_tot['maxx']

0     True
1     True
2     True
3     True
4     True
      ...
52    True
53    True
54    True
55    True
56    True
Length: 160, dtype: bool

In [47]:
new_tot['valid_min']=new_tot['conv']>new_tot['mins']

In [48]:
new_tot['valid_max']=new_tot['conv']<new_tot['maxx']

In [49]:
new_tot['valid_max']

0     True
1     True
2     True
3     True
4     True
      ...
52    True
53    True
54    True
55    True
56    True
Name: valid_max, Length: 160, dtype: bool

In [50]:
for i in new_tot.valid_max:
    if i==False :print('yes')
    else: print('no')

no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no

In [51]:
for i in new_tot.valid_min:
    if i==False :print('yes')
    #else: print('no')

In [52]:
new_tot

,had1,had2,z1,z2,conv,mins,maxx,valid_min,valid_max
0,300.0,100.0,0.25,0.150,-0.013265,-0.021181,0.006445,True,True
1,300.0,100.0,0.25,0.222,-0.028412,-0.041093,0.011917,True,True
2,300.0,100.0,0.25,0.294,-0.043223,-0.058767,0.015051,True,True
3,300.0,100.0,0.25,0.367,-0.056039,-0.073411,0.015918,True,True
4,300.0,100.0,0.25,0.439,-0.067479,-0.085259,0.015110,True,True
...,...,...,...,...,...,...,...,...,...
52,310.0,105.0,0.60,0.511,-0.051296,-0.061137,-0.029050,True,True
53,310.0,105.0,0.60,0.583,-0.056289,-0.067236,-0.032748,True,True
54,310.0,105.0,0.60,0.656,-0.061883,-0.074940,-0.037188,True,True
55,310.0,105.0,0.60,0.728,-0.069163,-0.085231,-0.043110,True,True
56,310.0,105.0,0.60,0.800,-0.077397,-0.097087,-0.049876,True,True

In [53]:
new_tot.index[new_tot['valid_min'] == False].tolist()

[]

In [54]:
new_tot.index[new_tot['valid_max'] == False].tolist()

[]

In [55]:
new_tot.to_csv('lines_lp_gauss_newtot.csv')