In [1]:
import pandas as pd

In [10]:
#df_prm = pd.read_csv('fit_parameters/dfs_to_use/new_gauss_su_charm_no_no.csv')
#df_prm1 = pd.read_csv('fit_parameters/dfs_to_use/new_gauss_su_charm_no_no_1.csv')
#df_prm2 = pd.read_csv('fit_parameters/dfs_to_use/new_gauss_su_charm_no_no_2.csv')
df_prm3 = pd.read_csv('fit_parameters/dfs_to_use/new_gauss_su_charm_no_no_3.csv')
df_prm4 = pd.read_csv('fit_parameters/dfs_to_use/new_gauss_su_charm_no_no_4.csv')
df_prm5 = pd.read_csv('fit_parameters/dfs_to_use/new_gauss_su_charm_no_no_5.csv')

In [12]:
df = pd.concat([df_prm3,df_prm4,df_prm5])
df

,NUP,NDO,NST,NSEA,AST,BUP,BSEA,PP2,chi
0,0.185447,-0.141136,-0.182721,-0.103286,2.417908,3.875562,2.135000,0.121994,116.179406
1,0.161755,-0.157542,-0.172319,-0.112372,2.257670,3.511622,2.962888,0.118032,106.995550
2,0.164622,-0.147470,-0.203524,-0.132684,2.519056,3.315955,3.385634,0.113679,116.262987
3,0.173043,-0.143832,-0.143182,-0.104460,1.884702,4.146597,2.951389,0.104993,105.274017
4,0.203239,-0.168082,-0.121230,-0.140561,1.797557,4.148582,3.660050,0.128643,108.944103
...,...,...,...,...,...,...,...,...,...
495,0.129872,-0.139467,-0.117235,-0.090713,1.720626,3.311715,2.879163,0.101297,109.940547
496,0.076257,-0.129166,-0.131485,-0.025379,1.941580,2.800552,1.288405,0.073550,227.296570
497,0.174655,-0.149607,-0.149382,-0.127230,2.152773,3.832652,3.371708,0.122122,111.755989
498,0.126109,-0.155201,-0.164783,-0.100737,2.190233,3.091212,3.036658,0.101114,111.295790
499,0.199272,-0.161221,-0.151201,-0.122741,1.905403,4.219614,3.378872,0.109020,110.861860

In [5]:
df.mean()

NUP       0.141178
NDO      -0.139282
NST      -0.150818
NSEA     -0.087934
AST       2.044389
BUP       3.545475
BSEA      2.566814
PP2       0.096002
chi     133.194000
dtype: float64

In [7]:
df['chi'].min()

104.22737434172718

In [13]:
chi_min = 103.3
df_new=df.loc[(df['chi']<chi_min+15.79)]

In [14]:
df_new

,NUP,NDO,NST,NSEA,AST,BUP,BSEA,PP2,chi
0,0.185447,-0.141136,-0.182721,-0.103286,2.417908,3.875562,2.135000,0.121994,116.179406
1,0.161755,-0.157542,-0.172319,-0.112372,2.257670,3.511622,2.962888,0.118032,106.995550
2,0.164622,-0.147470,-0.203524,-0.132684,2.519056,3.315955,3.385634,0.113679,116.262987
3,0.173043,-0.143832,-0.143182,-0.104460,1.884702,4.146597,2.951389,0.104993,105.274017
4,0.203239,-0.168082,-0.121230,-0.140561,1.797557,4.148582,3.660050,0.128643,108.944103
...,...,...,...,...,...,...,...,...,...
493,0.189536,-0.162161,-0.187116,-0.129086,2.417533,3.960787,3.299830,0.122051,107.649668
495,0.129872,-0.139467,-0.117235,-0.090713,1.720626,3.311715,2.879163,0.101297,109.940547
497,0.174655,-0.149607,-0.149382,-0.127230,2.152773,3.832652,3.371708,0.122122,111.755989
498,0.126109,-0.155201,-0.164783,-0.100737,2.190233,3.091212,3.036658,0.101114,111.295790
499,0.199272,-0.161221,-0.151201,-0.122741,1.905403,4.219614,3.378872,0.109020,110.861860

In [15]:
df_new.to_csv(r'fit_parameters/dfs_to_use/new_gauss_su_charm_no_no_def.csv',index=False)

In [16]:
#df_prm = pd.read_csv('fit_parameters/dfs_to_use/new_gauss_su_charm_no_yes.csv')
#df_prm1 = pd.read_csv('fit_parameters/dfs_to_use/new_gauss_su_charm_no_yes_1.csv')
#df_prm2 = pd.read_csv('fit_parameters/dfs_to_use/new_gauss_su_charm_no_yes_2.csv')
df_prm3 = pd.read_csv('fit_parameters/dfs_to_use/new_gauss_su_charm_no_yes_3.csv')
df_prm4 = pd.read_csv('fit_parameters/dfs_to_use/new_gauss_su_charm_no_yes_4.csv')
df_prm5 = pd.read_csv('fit_parameters/dfs_to_use/new_gauss_su_charm_no_yes_5.csv')

In [17]:
df = pd.concat([df_prm3,df_prm4,df_prm5])
df.mean()

NUP       0.178502
NDO      -0.365561
NST      -0.121089
NSEA     -0.126869
ADO       0.755289
AST       0.854170
BUP       2.727494
BSEA      1.571285
PP2       0.093429
chi     137.081482
dtype: float64

In [18]:
df['chi'].min()

110.02038099813332

In [19]:
chi_min = 109.6
df_new=df.loc[(df['chi']<chi_min+17.21)]

In [20]:
df_new.to_csv(r'fit_parameters/dfs_to_use/new_gauss_su_charm_no_yes_def.csv',index=False)

In [21]:
#df_prm = pd.read_csv('fit_parameters/dfs_to_use/new_gauss_su_charm_yes_yes.csv')
#df_prm1 = pd.read_csv('fit_parameters/dfs_to_use/new_gauss_su_charm_yes_yes_1.csv')
#df_prm2 = pd.read_csv('fit_parameters/dfs_to_use/new_gauss_su_charm_yes_yes_2.csv')
df_prm3 = pd.read_csv('fit_parameters/dfs_to_use/new_gauss_su_charm_yes_yes_3.csv')
df_prm4 = pd.read_csv('fit_parameters/dfs_to_use/new_gauss_su_charm_yes_yes_4.csv')
df_prm5 = pd.read_csv('fit_parameters/dfs_to_use/new_gauss_su_charm_yes_yes_5.csv')

In [26]:
df = pd.concat([df_prm,df_prm1,df_prm2,df_prm3,df_prm4,df_prm5])
df.mean()

NUP       0.207607
NDO      -0.127288
NST      -0.251832
NSEA     -0.164981
AST       2.103213
BUP       2.431379
BDO       1.140519
PP2       0.116985
chi     139.976178
dtype: float64

In [27]:
df['chi'].min()

127.77995311807342

In [28]:
chi_min = 118.4
df_new=df.loc[(df['chi']<chi_min+17.21)]

In [30]:
df_new.to_csv(r'fit_parameters/dfs_to_use/new_gauss_su_charm_yes_yes_def.csv',index=False)