In [1]:
import pandas as pd
from numpy import*

In [2]:
gauss1=pd.read_csv('lk_point_gauss_1.csv',)
gauss11=pd.read_csv('lk_point_gauss_1.2.csv')

In [6]:
gauss1['valid1']=gauss1['mins']<gauss1['conv']

In [4]:
gauss11['mins']<gauss11['conv']

0     True
1     True
2     True
3     True
4     True
5     True
6     True
7     True
8     True
9     True
10    True
11    True
12    True
13    True
14    True
15    True
16    True
17    True
18    True
19    True
20    True
21    True
22    True
23    True
24    True
25    True
26    True
27    True
28    True
29    True
30    True
31    True
32    True
33    True
34    True
35    True
36    True
37    True
38    True
39    True
40    True
41    True
42    True
43    True
44    True
45    True
46    True
47    True
48    True
49    True
50    True
51    True
52    True
53    True
54    True
55    True
56    True
dtype: bool

In [5]:
gauss1= gauss1.truncate(after=102)

In [7]:
gauss1

,Unnamed: 0,Unnamed: 0.1,had1,had2,z1,z2,mins,maxx,fit_line,conv,valid1
0,0,0,300.0,200.0,0.25,0.150,-0.017020,0.019712,NaN,-0.010766,True
1,1,1,300.0,200.0,0.25,0.222,-0.026259,0.045983,NaN,-0.023279,True
2,2,2,300.0,200.0,0.25,0.294,-0.029371,0.069474,NaN,-0.035372,False
3,3,3,300.0,200.0,0.25,0.367,-0.028454,0.086042,NaN,-0.045260,False
4,4,4,300.0,200.0,0.25,0.439,-0.025728,0.096724,NaN,-0.052982,False
...,...,...,...,...,...,...,...,...,...,...,...
98,98,98,310.0,200.0,0.35,0.728,-0.052829,0.003902,NaN,0.004850,True
99,99,99,310.0,200.0,0.35,0.800,-0.054911,0.004525,NaN,0.006565,True
100,100,100,310.0,200.0,0.45,0.150,-0.012937,-0.004859,NaN,-0.007909,True
101,101,101,310.0,200.0,0.45,0.222,-0.025179,-0.009242,NaN,-0.014373,True
102,102,102,310.0,200.0,0.45,0.294,-0.034937,-0.012688,NaN,-0.018648,True

In [6]:
gauss1.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'had1', 'had2', 'z1', 'z2', 'mins',
       'maxx', 'fit_line', 'conv'],
      dtype='object')

In [7]:
gauss1 = gauss1.drop('Unnamed: 0',1)
gauss1 = gauss1.drop('Unnamed: 0.1',1)
gauss11 = gauss11.drop('Unnamed: 0',1)
gauss11 = gauss11.drop('Unnamed: 0.1',1)

In [8]:
#gauss11

In [9]:
frames = [gauss1,gauss11]
gauss1_tot =pd.concat(frames)
#gauss1_tot=gauss1_tot.drop('Unnamed: 0.1.1',1)
gauss1_tot

     had1   had2    z1     z2      mins      maxx  fit_line      conv
0   300.0  200.0  0.25  0.150 -0.017020  0.019712       NaN -0.010766
1   300.0  200.0  0.25  0.222 -0.026259  0.045983       NaN -0.023279
2   300.0  200.0  0.25  0.294 -0.029371  0.069474       NaN -0.035372
3   300.0  200.0  0.25  0.367 -0.028454  0.086042       NaN -0.045260
4   300.0  200.0  0.25  0.439 -0.025728  0.096724       NaN -0.052982
..    ...    ...   ...    ...       ...       ...       ...       ...
52  310.0  205.0  0.60  0.511 -0.079442 -0.016762       NaN -0.061567
53  310.0  205.0  0.60  0.583 -0.083257 -0.017510       NaN -0.064462
54  310.0  205.0  0.60  0.656 -0.086589 -0.018139       NaN -0.066976
55  310.0  205.0  0.60  0.728 -0.089359 -0.018633       NaN -0.069053
56  310.0  205.0  0.60  0.800 -0.091666 -0.019030       NaN -0.070775

[160 rows x 8 columns]

In [10]:
gauss2=pd.read_csv('lk_point_gauss_2.csv',)
gauss22=pd.read_csv('lk_point_gauss_2.2.csv')

In [11]:
gauss2 = gauss2.truncate(after=102)

In [12]:
gauss22

,Unnamed: 0,Unnamed: 0.1,had1,had2,z1,z2,mins,maxx,fit_line,conv
0,103,103,310.0,200.0,0.45,0.367,-0.041724,-0.015076,NaN,-0.020838
1,104,104,310.0,200.0,0.45,0.439,-0.046052,-0.016714,NaN,-0.021692
2,105,105,310.0,200.0,0.45,0.511,-0.049134,-0.017888,NaN,-0.021873
3,106,106,310.0,200.0,0.45,0.583,-0.051549,-0.018746,NaN,-0.021785
4,107,107,310.0,200.0,0.45,0.656,-0.053635,-0.019400,NaN,-0.021646
5,108,108,310.0,200.0,0.45,0.728,-0.055404,-0.019865,NaN,-0.021498
6,109,109,310.0,200.0,0.45,0.800,-0.056977,-0.020233,NaN,-0.021388
7,110,110,310.0,200.0,0.60,0.150,-0.020342,-0.004707,NaN,-0.005475
8,111,111,310.0,200.0,0.60,0.222,-0.039096,-0.008923,NaN,-0.009349
9,112,112,310.0,200.0,0.60,0.294,-0.053790,-0.012195,NaN,-0.011937
10,113,113,310.0,200.0,0.60,0.367,-0.063568,-0.014366,NaN,-0.013509
11,114,114,310.0,200.0,0.60,0.439,-0.069770,-0.015761,NaN,-0.014452
12,115,115,310.0,200.0,0.60,0.511,-0.074113,-0.016762,NaN,-0.015030
13,116,116,310.0,200.0,0.60,0.583,-0.077453,-0.017510,NaN,-0.015323
14,117,117,310.0,200.0,0.60,0.656,-0.080603,-0.018139,NaN,-0.015432
15,118,118,310.0,200.0,0.60,0.728,-0.083251,-0.018633,NaN,-0.015338
16,119,119,310.0,200.0,0.60,0.800,-0.085854,-0.019030,NaN,-0.015153
17,120,120,310.0,205.0,0.25,0.150,-0.013841,0.004056,NaN,-0.010766
18,121,121,310.0,205.0,0.25,0.222,-0.029450,0.010218,NaN,-0.023279
19,122,122,310.0,205.0,0.25,0.294,-0.044358,0.017632,NaN,-0.035372
20,123,123,310.0,205.0,0.25,0.367,-0.056422,0.025127,NaN,-0.045260
21,124,124,310.0,205.0,0.25,0.439,-0.065752,0.032036,NaN,-0.052982
22,125,125,310.0,205.0,0.25,0.511,-0.073947,0.038183,NaN,-0.059190
23,126,126,310.0,205.0,0.25,0.583,-0.080882,0.043368,NaN,-0.064232
24,127,127,310.0,205.0,0.25,0.656,-0.086635,0.047619,NaN,-0.068421
25,128,128,310.0,205.0,0.25,0.728,-0.091782,0.051324,NaN,-0.072171
26,129,129,310.0,205.0,0.25,0.800,-0.096234,0.054399,NaN,-0.075456
27,130,130,310.0,205.0,0.35,0.150,-0.009621,-0.002475,NaN,-0.007437
28,131,131,310.0,205.0,0.35,0.222,-0.019771,-0.004771,NaN,-0.015651
29,132,132,310.0,205.0,0.35,0.294,-0.028804,-0.005962,NaN,-0.022931
30,133,133,310.0,205.0,0.35,0.367,-0.035288,-0.005494,NaN,-0.028433
31,134,134,310.0,205.0,0.35,0.439,-0.040327,-0.003798,NaN,-0.032422
32,135,135,310.0,205.0,0.35,0.511,-0.044408,-0.002192,NaN,-0.035460
33,136,136,310.0,205.0,0.35,0.583,-0.047696,-0.000714,NaN,-0.037871
34,137,137,310.0,205.0,0.35,0.656,-0.050411,0.000474,NaN,-0.039858
35,138,138,310.0,205.0,0.35,0.728,-0.052829,0.001417,NaN,-0.041618
36,139,139,310.0,205.0,0.35,0.800,-0.054911,0.002113,NaN,-0.043124
37,140,140,310.0,205.0,0.45,0.150,-0.012937,-0.004859,NaN,-0.009879
38,141,141,310.0,205.0,0.45,0.222,-0.025179,-0.009242,NaN,-0.019408
39,142,142,310.0,205.0,0.45,0.294,-0.035047,-0.012688,NaN,-0.026970
40,143,143,310.0,205.0,0.45,0.367,-0.041724,-0.015076,NaN,-0.032062
41,144,144,310.0,205.0,0.45,0.439,-0.046052,-0.016714,NaN,-0.035340
42,145,145,310.0,205.0,0.45,0.511,-0.049134,-0.017888,NaN,-0.037598
43,146,146,310.0,205.0,0.45,0.583,-0.051549,-0.018746,NaN,-0.039289
44,147,147,310.0,205.0,0.45,0.656,-0.053635,-0.019400,NaN,-0.040694
45,148,148,310.0,205.0,0.45,0.728,-0.055404,-0.019865,NaN,-0.041842
46,149,149,310.0,205.0,0.45,0.800,-0.056977,-0.020233,NaN,-0.042845
47,150,150,310.0,205.0,0.60,0.150,-0.020342,-0.004707,NaN,-0.016678
48,151,151,310.0,205.0,0.60,0.222,-0.039096,-0.008923,NaN,-0.032204
49,152,152,310.0,205.0,0.60,0.294,-0.053790,-0.012195,NaN,-0.044441
50,153,153,310.0,205.0,0.60,0.367,-0.063568,-0.014366,NaN,-0.052584
51,154,154,310.0,205.0,0.60,0.439,-0.069770,-0.015761,NaN,-0.057792
52,155,155,310.0,205.0,0.60,0.511,-0.074113,-0.016762,NaN,-0.061567
53,156,156,310.0,205.0,0.60,0.583,-0.077453,-0.017510,NaN,-0.064462
54,157,157,310.0,205.0,0.60,0.656,-0.080603,-0.018139,NaN,-0.066976
55,158,158,310.0,205.0,0.60,0.728,-0.083251,-0.018633,NaN,-0.069053
56,159,159,310.0,205.0,0.60,0.800,-0.085854,-0.019030,NaN,-0.070775

In [13]:
frames = [gauss2,gauss22]
gauss2_tot =pd.concat(frames)
#gauss2_tot=gauss2_tot.drop('Unnamed: 0.1.1',1)
gauss2_tot=gauss2_tot.drop('Unnamed: 0.1',1)
gauss2_tot=gauss2_tot.drop('Unnamed: 0',1)

gauss2_tot

     had1   had2    z1     z2      mins      maxx  fit_line      conv
0   300.0  200.0  0.25  0.150 -0.016377  0.017127       NaN -0.010766
1   300.0  200.0  0.25  0.222 -0.025523  0.040732       NaN -0.023279
2   300.0  200.0  0.25  0.294 -0.029588  0.061884       NaN -0.035372
3   300.0  200.0  0.25  0.367 -0.029530  0.076870       NaN -0.045260
4   300.0  200.0  0.25  0.439 -0.027485  0.086442       NaN -0.052982
..    ...    ...   ...    ...       ...       ...       ...       ...
52  310.0  205.0  0.60  0.511 -0.074113 -0.016762       NaN -0.061567
53  310.0  205.0  0.60  0.583 -0.077453 -0.017510       NaN -0.064462
54  310.0  205.0  0.60  0.656 -0.080603 -0.018139       NaN -0.066976
55  310.0  205.0  0.60  0.728 -0.083251 -0.018633       NaN -0.069053
56  310.0  205.0  0.60  0.800 -0.085854 -0.019030       NaN -0.070775

[160 rows x 8 columns]

In [14]:
gauss3=pd.read_csv('lk_point_gauss_3.csv',)
gauss33=pd.read_csv('lk_point_gauss_3.2.csv')

In [15]:
gauss3= gauss3.truncate(after=102)

In [16]:
gauss33

,Unnamed: 0,Unnamed: 0.1,had1,had2,z1,z2,mins,maxx,fit_line,conv
0,103,103,310.0,200.0,0.45,0.367,-0.041707,-0.020499,NaN,-0.020838
1,104,104,310.0,200.0,0.45,0.439,-0.046052,-0.022611,NaN,-0.021692
2,105,105,310.0,200.0,0.45,0.511,-0.049134,-0.024087,NaN,-0.021873
3,106,106,310.0,200.0,0.45,0.583,-0.051549,-0.025191,NaN,-0.021785
4,107,107,310.0,200.0,0.45,0.656,-0.053635,-0.026084,NaN,-0.021646
5,108,108,310.0,200.0,0.45,0.728,-0.055404,-0.026778,NaN,-0.021498
6,109,109,310.0,200.0,0.45,0.800,-0.056977,-0.027369,NaN,-0.021388
7,110,110,310.0,200.0,0.60,0.150,-0.020746,-0.007301,NaN,-0.005475
8,111,111,310.0,200.0,0.60,0.222,-0.039421,-0.014032,NaN,-0.009349
9,112,112,310.0,200.0,0.60,0.294,-0.054365,-0.019331,NaN,-0.011937
10,113,113,310.0,200.0,0.60,0.367,-0.064337,-0.022849,NaN,-0.013509
11,114,114,310.0,200.0,0.60,0.439,-0.070728,-0.025110,NaN,-0.014452
12,115,115,310.0,200.0,0.60,0.511,-0.075673,-0.026767,NaN,-0.015030
13,116,116,310.0,200.0,0.60,0.583,-0.079591,-0.028040,NaN,-0.015323
14,117,117,310.0,200.0,0.60,0.656,-0.083061,-0.029140,NaN,-0.015432
15,118,118,310.0,200.0,0.60,0.728,-0.085977,-0.030039,NaN,-0.015338
16,119,119,310.0,200.0,0.60,0.800,-0.088430,-0.030779,NaN,-0.015153
17,120,120,310.0,205.0,0.25,0.150,-0.014646,0.006249,NaN,-0.010766
18,121,121,310.0,205.0,0.25,0.222,-0.029441,0.015241,NaN,-0.023279
19,122,122,310.0,205.0,0.25,0.294,-0.044356,0.025115,NaN,-0.035372
20,123,123,310.0,205.0,0.25,0.367,-0.056055,0.034190,NaN,-0.045260
21,124,124,310.0,205.0,0.25,0.439,-0.065593,0.041983,NaN,-0.052982
22,125,125,310.0,205.0,0.25,0.511,-0.073947,0.048473,NaN,-0.059190
23,126,126,310.0,205.0,0.25,0.583,-0.080882,0.053692,NaN,-0.064232
24,127,127,310.0,205.0,0.25,0.656,-0.086635,0.057807,NaN,-0.068421
25,128,128,310.0,205.0,0.25,0.728,-0.091782,0.061218,NaN,-0.072171
26,129,129,310.0,205.0,0.25,0.800,-0.096234,0.063994,NaN,-0.075456
27,130,130,310.0,205.0,0.35,0.150,-0.009562,-0.001885,NaN,-0.007437
28,131,131,310.0,205.0,0.35,0.222,-0.019771,-0.003376,NaN,-0.015651
29,132,132,310.0,205.0,0.35,0.294,-0.028804,-0.003761,NaN,-0.022931
30,133,133,310.0,205.0,0.35,0.367,-0.035353,-0.002669,NaN,-0.028433
31,134,134,310.0,205.0,0.35,0.439,-0.040078,-0.001198,NaN,-0.032422
32,135,135,310.0,205.0,0.35,0.511,-0.044070,0.000427,NaN,-0.035460
33,136,136,310.0,205.0,0.35,0.583,-0.047283,0.001886,NaN,-0.037871
34,137,137,310.0,205.0,0.35,0.656,-0.049943,0.003030,NaN,-0.039858
35,138,138,310.0,205.0,0.35,0.728,-0.052320,0.003902,NaN,-0.041618
36,139,139,310.0,205.0,0.35,0.800,-0.054360,0.004525,NaN,-0.043124
37,140,140,310.0,205.0,0.45,0.150,-0.012628,-0.006432,NaN,-0.009879
38,141,141,310.0,205.0,0.45,0.222,-0.025032,-0.012494,NaN,-0.019408
39,142,142,310.0,205.0,0.45,0.294,-0.034947,-0.017270,NaN,-0.026970
40,143,143,310.0,205.0,0.45,0.367,-0.041707,-0.020499,NaN,-0.032062
41,144,144,310.0,205.0,0.45,0.439,-0.046052,-0.022611,NaN,-0.035340
42,145,145,310.0,205.0,0.45,0.511,-0.049134,-0.024087,NaN,-0.037598
43,146,146,310.0,205.0,0.45,0.583,-0.051549,-0.025191,NaN,-0.039289
44,147,147,310.0,205.0,0.45,0.656,-0.053635,-0.026084,NaN,-0.040694
45,148,148,310.0,205.0,0.45,0.728,-0.055404,-0.026778,NaN,-0.041842
46,149,149,310.0,205.0,0.45,0.800,-0.056977,-0.027369,NaN,-0.042845
47,150,150,310.0,205.0,0.60,0.150,-0.020746,-0.007301,NaN,-0.016678
48,151,151,310.0,205.0,0.60,0.222,-0.039421,-0.014032,NaN,-0.032204
49,152,152,310.0,205.0,0.60,0.294,-0.054365,-0.019331,NaN,-0.044441
50,153,153,310.0,205.0,0.60,0.367,-0.064337,-0.022849,NaN,-0.052584
51,154,154,310.0,205.0,0.60,0.439,-0.070728,-0.025110,NaN,-0.057792
52,155,155,310.0,205.0,0.60,0.511,-0.075673,-0.026767,NaN,-0.061567
53,156,156,310.0,205.0,0.60,0.583,-0.079591,-0.028040,NaN,-0.064462
54,157,157,310.0,205.0,0.60,0.656,-0.083061,-0.029140,NaN,-0.066976
55,158,158,310.0,205.0,0.60,0.728,-0.085977,-0.030039,NaN,-0.069053
56,159,159,310.0,205.0,0.60,0.800,-0.088430,-0.030779,NaN,-0.070775

In [17]:
frames = [gauss3,gauss33]
gauss3_tot =pd.concat(frames)
#gauss3_tot=gauss3_tot.drop('Unnamed: 0.1.1',1)
gauss3_tot=gauss3_tot.drop('Unnamed: 0.1',1)
gauss3_tot=gauss3_tot.drop('Unnamed: 0',1)

gauss3_tot

     had1   had2    z1     z2      mins      maxx  fit_line      conv
0   300.0  200.0  0.25  0.150 -0.016088  0.019712       NaN -0.010766
1   300.0  200.0  0.25  0.222 -0.024118  0.045983       NaN -0.023279
2   300.0  200.0  0.25  0.294 -0.026884  0.069474       NaN -0.035372
3   300.0  200.0  0.25  0.367 -0.028023  0.086042       NaN -0.045260
4   300.0  200.0  0.25  0.439 -0.027230  0.096724       NaN -0.052982
..    ...    ...   ...    ...       ...       ...       ...       ...
52  310.0  205.0  0.60  0.511 -0.075673 -0.026767       NaN -0.061567
53  310.0  205.0  0.60  0.583 -0.079591 -0.028040       NaN -0.064462
54  310.0  205.0  0.60  0.656 -0.083061 -0.029140       NaN -0.066976
55  310.0  205.0  0.60  0.728 -0.085977 -0.030039       NaN -0.069053
56  310.0  205.0  0.60  0.800 -0.088430 -0.030779       NaN -0.070775

[160 rows x 8 columns]

In [18]:
gauss1_tot

     had1   had2    z1     z2      mins      maxx  fit_line      conv
0   300.0  200.0  0.25  0.150 -0.017020  0.019712       NaN -0.010766
1   300.0  200.0  0.25  0.222 -0.026259  0.045983       NaN -0.023279
2   300.0  200.0  0.25  0.294 -0.029371  0.069474       NaN -0.035372
3   300.0  200.0  0.25  0.367 -0.028454  0.086042       NaN -0.045260
4   300.0  200.0  0.25  0.439 -0.025728  0.096724       NaN -0.052982
..    ...    ...   ...    ...       ...       ...       ...       ...
52  310.0  205.0  0.60  0.511 -0.079442 -0.016762       NaN -0.061567
53  310.0  205.0  0.60  0.583 -0.083257 -0.017510       NaN -0.064462
54  310.0  205.0  0.60  0.656 -0.086589 -0.018139       NaN -0.066976
55  310.0  205.0  0.60  0.728 -0.089359 -0.018633       NaN -0.069053
56  310.0  205.0  0.60  0.800 -0.091666 -0.019030       NaN -0.070775

[160 rows x 8 columns]

In [19]:
gauss2_tot

     had1   had2    z1     z2      mins      maxx  fit_line      conv
0   300.0  200.0  0.25  0.150 -0.016377  0.017127       NaN -0.010766
1   300.0  200.0  0.25  0.222 -0.025523  0.040732       NaN -0.023279
2   300.0  200.0  0.25  0.294 -0.029588  0.061884       NaN -0.035372
3   300.0  200.0  0.25  0.367 -0.029530  0.076870       NaN -0.045260
4   300.0  200.0  0.25  0.439 -0.027485  0.086442       NaN -0.052982
..    ...    ...   ...    ...       ...       ...       ...       ...
52  310.0  205.0  0.60  0.511 -0.074113 -0.016762       NaN -0.061567
53  310.0  205.0  0.60  0.583 -0.077453 -0.017510       NaN -0.064462
54  310.0  205.0  0.60  0.656 -0.080603 -0.018139       NaN -0.066976
55  310.0  205.0  0.60  0.728 -0.083251 -0.018633       NaN -0.069053
56  310.0  205.0  0.60  0.800 -0.085854 -0.019030       NaN -0.070775

[160 rows x 8 columns]

In [20]:
gauss3_tot

     had1   had2    z1     z2      mins      maxx  fit_line      conv
0   300.0  200.0  0.25  0.150 -0.016088  0.019712       NaN -0.010766
1   300.0  200.0  0.25  0.222 -0.024118  0.045983       NaN -0.023279
2   300.0  200.0  0.25  0.294 -0.026884  0.069474       NaN -0.035372
3   300.0  200.0  0.25  0.367 -0.028023  0.086042       NaN -0.045260
4   300.0  200.0  0.25  0.439 -0.027230  0.096724       NaN -0.052982
..    ...    ...   ...    ...       ...       ...       ...       ...
52  310.0  205.0  0.60  0.511 -0.075673 -0.026767       NaN -0.061567
53  310.0  205.0  0.60  0.583 -0.079591 -0.028040       NaN -0.064462
54  310.0  205.0  0.60  0.656 -0.083061 -0.029140       NaN -0.066976
55  310.0  205.0  0.60  0.728 -0.085977 -0.030039       NaN -0.069053
56  310.0  205.0  0.60  0.800 -0.088430 -0.030779       NaN -0.070775

[160 rows x 8 columns]

In [21]:
gauss1_tot['mins']>gauss2_tot['mins']

0     False
1     False
2      True
3      True
4      True
      ...
52    False
53    False
54    False
55    False
56    False
Name: mins, Length: 160, dtype: bool

In [22]:
new_tot = gauss1_tot

In [23]:
new_tot=new_tot.drop('mins',1)
new_tot=new_tot.drop('maxx',1)
new_tot=new_tot.drop('fit_line',1)

In [24]:
new_tot

     had1   had2    z1     z2      conv
0   300.0  200.0  0.25  0.150 -0.010766
1   300.0  200.0  0.25  0.222 -0.023279
2   300.0  200.0  0.25  0.294 -0.035372
3   300.0  200.0  0.25  0.367 -0.045260
4   300.0  200.0  0.25  0.439 -0.052982
..    ...    ...   ...    ...       ...
52  310.0  205.0  0.60  0.511 -0.061567
53  310.0  205.0  0.60  0.583 -0.064462
54  310.0  205.0  0.60  0.656 -0.066976
55  310.0  205.0  0.60  0.728 -0.069053
56  310.0  205.0  0.60  0.800 -0.070775

[160 rows x 5 columns]

In [25]:

new_tot['valid']=gauss1_tot['mins']<gauss2_tot['mins']

In [26]:
new_tot

     had1   had2    z1     z2      conv  valid
0   300.0  200.0  0.25  0.150 -0.010766   True
1   300.0  200.0  0.25  0.222 -0.023279   True
2   300.0  200.0  0.25  0.294 -0.035372  False
3   300.0  200.0  0.25  0.367 -0.045260  False
4   300.0  200.0  0.25  0.439 -0.052982  False
..    ...    ...   ...    ...       ...    ...
52  310.0  205.0  0.60  0.511 -0.061567   True
53  310.0  205.0  0.60  0.583 -0.064462   True
54  310.0  205.0  0.60  0.656 -0.066976   True
55  310.0  205.0  0.60  0.728 -0.069053   True
56  310.0  205.0  0.60  0.800 -0.070775   True

[160 rows x 6 columns]

In [27]:
mn = zeros(len(new_tot.valid))
i=0
for vld,min1,min2 in zip(new_tot.valid,gauss1_tot.mins,gauss2_tot.mins):
    if vld == True: mn[i] = min1
    elif vld == False: mn[i] = min2

    i+=1

In [28]:
new_tot['mins'] = mn

In [29]:
new_tot=new_tot.drop('valid',1)

In [30]:
new_tot['valid'] = new_tot['mins']<gauss3_tot['mins']

In [31]:
new_tot

     had1   had2    z1     z2      conv      mins  valid
0   300.0  200.0  0.25  0.150 -0.010766 -0.017020   True
1   300.0  200.0  0.25  0.222 -0.023279 -0.026259   True
2   300.0  200.0  0.25  0.294 -0.035372 -0.029588   True
3   300.0  200.0  0.25  0.367 -0.045260 -0.029530   True
4   300.0  200.0  0.25  0.439 -0.052982 -0.027485   True
..    ...    ...   ...    ...       ...       ...    ...
52  310.0  205.0  0.60  0.511 -0.061567 -0.079442   True
53  310.0  205.0  0.60  0.583 -0.064462 -0.083257   True
54  310.0  205.0  0.60  0.656 -0.066976 -0.086589   True
55  310.0  205.0  0.60  0.728 -0.069053 -0.089359   True
56  310.0  205.0  0.60  0.800 -0.070775 -0.091666   True

[160 rows x 7 columns]

In [32]:
mn = zeros(len(new_tot.valid))
i=0
for vld,min1,min2 in zip(new_tot.valid,new_tot.mins,gauss3_tot.mins):
    if vld == True: mn[i] = min1
    elif vld == False: mn[i] = min2

    i+=1

In [33]:
new_tot['mins'] = mn

In [34]:
new_tot

     had1   had2    z1     z2      conv      mins  valid
0   300.0  200.0  0.25  0.150 -0.010766 -0.017020   True
1   300.0  200.0  0.25  0.222 -0.023279 -0.026259   True
2   300.0  200.0  0.25  0.294 -0.035372 -0.029588   True
3   300.0  200.0  0.25  0.367 -0.045260 -0.029530   True
4   300.0  200.0  0.25  0.439 -0.052982 -0.027485   True
..    ...    ...   ...    ...       ...       ...    ...
52  310.0  205.0  0.60  0.511 -0.061567 -0.079442   True
53  310.0  205.0  0.60  0.583 -0.064462 -0.083257   True
54  310.0  205.0  0.60  0.656 -0.066976 -0.086589   True
55  310.0  205.0  0.60  0.728 -0.069053 -0.089359   True
56  310.0  205.0  0.60  0.800 -0.070775 -0.091666   True

[160 rows x 7 columns]

In [35]:
new_tot=new_tot.drop('valid',1)

In [36]:
new_tot

     had1   had2    z1     z2      conv      mins
0   300.0  200.0  0.25  0.150 -0.010766 -0.017020
1   300.0  200.0  0.25  0.222 -0.023279 -0.026259
2   300.0  200.0  0.25  0.294 -0.035372 -0.029588
3   300.0  200.0  0.25  0.367 -0.045260 -0.029530
4   300.0  200.0  0.25  0.439 -0.052982 -0.027485
..    ...    ...   ...    ...       ...       ...
52  310.0  205.0  0.60  0.511 -0.061567 -0.079442
53  310.0  205.0  0.60  0.583 -0.064462 -0.083257
54  310.0  205.0  0.60  0.656 -0.066976 -0.086589
55  310.0  205.0  0.60  0.728 -0.069053 -0.089359
56  310.0  205.0  0.60  0.800 -0.070775 -0.091666

[160 rows x 6 columns]

In [37]:
new_tot['valid']=gauss1_tot.maxx>gauss2_tot.maxx

In [38]:
mn = zeros(len(new_tot.valid))
i=0
for vld,max1,max2 in zip(new_tot.valid,gauss1_tot.maxx,gauss2_tot.maxx):
    if vld == True: mn[i] = max1
    elif vld == False: mn[i] = max2

    i+=1

In [39]:
new_tot['maxx'] = mn

In [40]:
new_tot=new_tot.drop('valid',1)

In [41]:
new_tot['valid']=new_tot.maxx>gauss3_tot.maxx

In [42]:
mn = zeros(len(new_tot.valid))
i=0
for vld,max1,max2 in zip(new_tot.valid,new_tot.maxx,gauss3_tot.maxx):
    if vld == True: mn[i] = max1
    elif vld == False: mn[i] = max2

    i+=1

In [43]:
new_tot['maxx'] = mn

In [44]:
new_tot=new_tot.drop('valid',1)
new_tot

     had1   had2    z1     z2      conv      mins      maxx
0   300.0  200.0  0.25  0.150 -0.010766 -0.017020  0.019712
1   300.0  200.0  0.25  0.222 -0.023279 -0.026259  0.045983
2   300.0  200.0  0.25  0.294 -0.035372 -0.029588  0.069474
3   300.0  200.0  0.25  0.367 -0.045260 -0.029530  0.086042
4   300.0  200.0  0.25  0.439 -0.052982 -0.027485  0.096724
..    ...    ...   ...    ...       ...       ...       ...
52  310.0  205.0  0.60  0.511 -0.061567 -0.079442 -0.016762
53  310.0  205.0  0.60  0.583 -0.064462 -0.083257 -0.017510
54  310.0  205.0  0.60  0.656 -0.066976 -0.086589 -0.018139
55  310.0  205.0  0.60  0.728 -0.069053 -0.089359 -0.018633
56  310.0  205.0  0.60  0.800 -0.070775 -0.091666 -0.019030

[160 rows x 7 columns]

In [45]:
new_tot['valid_min']=new_tot['conv']>new_tot['mins']

In [46]:
new_tot['valid_max']=new_tot['conv']<new_tot['maxx']

In [47]:
new_tot

,had1,had2,z1,z2,conv,mins,maxx,valid_min,valid_max
0,300.0,200.0,0.25,0.150,-0.010766,-0.017020,0.019712,True,True
1,300.0,200.0,0.25,0.222,-0.023279,-0.026259,0.045983,True,True
2,300.0,200.0,0.25,0.294,-0.035372,-0.029588,0.069474,False,True
3,300.0,200.0,0.25,0.367,-0.045260,-0.029530,0.086042,False,True
4,300.0,200.0,0.25,0.439,-0.052982,-0.027485,0.096724,False,True
...,...,...,...,...,...,...,...,...,...
52,310.0,205.0,0.60,0.511,-0.061567,-0.079442,-0.016762,True,True
53,310.0,205.0,0.60,0.583,-0.064462,-0.083257,-0.017510,True,True
54,310.0,205.0,0.60,0.656,-0.066976,-0.086589,-0.018139,True,True
55,310.0,205.0,0.60,0.728,-0.069053,-0.089359,-0.018633,True,True
56,310.0,205.0,0.60,0.800,-0.070775,-0.091666,-0.019030,True,True

In [48]:
for i in new_tot.valid_max:
    if i==False :print('yes')
    #else: print('no')

yes
yes
yes
yes
yes
yes
yes
yes
yes
yes

In [49]:
for i in new_tot.valid_min:
    if i==False :print('yes')
    #else: print('no')

yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes